Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Add break statements.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Adding SDR transfer fields
  transform/snowflake-dbt/models/sources/sfdc/sfdc_lead_source.sql
Due: none

Adding SDR engagement dates to mart crm person
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_contact_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_lead_source.sql
Due: none

Add new logic for pte and ptc ctes
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

change source name techs
  transform/snowflake-dbt/models/sources/zoominfo/sources.yml
Due: none

Modified schedule for incremental backfill and gitlab dbt dag
  dags/extract/gitlab_dbs_extract_load.py
  dags/transformation/gitlab_dot_com_dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Modify snowflake engine var name
  sales_analytics_notebooks/daily/coverage_curves_simplified_v20221019_channel.ipynb
Due: none

Add test notebook
  dags/sales_analytics/readme.md
  sales_analytics_notebooks/daily/pandas-and-jupyter-notebook.ipynb
Due: none

Remove coverage curves
  sales_analytics_notebooks/monthly/coverage_curves_simplified_v20221019_channel.ipynb
  sales_analytics_notebooks/monthly/qtr_metrics_by_day_channel.sql
Due: none

Smaller time window for testing.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Cleanup notebooks
  dags/sales_analytics/readme.md
  sales_analytics_notebooks/daily/pandas-and-jupyter-test-notebook.ipynb
  sales_analytics_notebooks/monthly/account_arr.sql
  sales_analytics_notebooks/monthly/account_summary.sql
  sales_analytics_notebooks/monthly/big_query_etl.ipynb
  sales_analytics_notebooks/monthly/closed_deals_fy22.sql
  sales_analytics_notebooks/monthly/coverage_curves_simplified_v20221019_channel.ipynb
  sales_analytics_notebooks/monthly/pandas-and-jupyter-test-notebook.ipynb
  sales_analytics_notebooks/monthly/qtr_metrics_by_day_channel.sql
  sales_analytics_notebooks/monthly/sfdc_opportunity.sql
  sales_analytics_notebooks/quarterly/pandas-and-jupyter-test-notebook.ipynb
  sales_analytics_notebooks/quarterly/test_notebook.ipynb
  sales_analytics_notebooks/weekly/pandas-and-jupyter-test-notebook.ipynb
  sales_analytics_notebooks/weekly/test.ipynb
Due: none

Updated isLocalDev for papermill
  dags/sales_analytics/sales_analytics_daily_notebooks.py
  dags/sales_analytics/sales_analytics_monthly_notebooks.py
  dags/sales_analytics/sales_analytics_quarterly_notebooks.py
  dags/sales_analytics/sales_analytics_weekly_notebooks.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Fix black
  dags/sales_analytics/sales_analytics_daily_notebooks.py
  dags/sales_analytics/sales_analytics_monthly_notebooks.py
  dags/sales_analytics/sales_analytics_quarterly_notebooks.py
  dags/sales_analytics/sales_analytics_weekly_notebooks.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add sales analytics role
  dags/kube_secrets.py
  dags/sales_analytics/sales_analytics_daily_notebooks.py
  dags/sales_analytics/sales_analytics_monthly_notebooks.py
  dags/sales_analytics/sales_analytics_quarterly_notebooks.py
  dags/sales_analytics/sales_analytics_weekly_notebooks.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

format number fields
  transform/snowflake-dbt/models/sources/driveload/driveload_marketing_press_sov_source.sql
Due: none

Move count to start of loop, reduce batch size further.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

select from correct cte
  transform/snowflake-dbt/models/sources/driveload/driveload_marketing_press_sov_source.sql
Due: none

specify usd
  transform/snowflake-dbt/models/sources/driveload/driveload_marketing_press_sov_source.sql
Due: none

Updating L2R and alternative mapping file
  transform/snowflake-dbt/models/common_mapping/map_alternative_lead_demographics.sql
  transform/snowflake-dbt/models/common_mart_marketing/reports/rpt_sfdc_bizible_tp_person_lifecycle.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

adding bridge to dim_subscription
  transform/snowflake-dbt/models/common/dimensions_shared/dim_subscription.sql
Due: none

Add logic and joins
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

updating filter
  transform/snowflake-dbt/models/common/dimensions_shared/dim_subscription.sql
Due: none

Fail on staging problems.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Further reduce time span.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Smaller batches.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Re-extend timeframe.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add run changed version of clone_model_dbt_select.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Test.
  transform/snowflake-dbt/models/common/dimensions_shared/dim_subscription.sql
Due: none

substituting logic
  transform/snowflake-dbt/models/common_mart_product/mart_ping_namespace_metric_health_score_saas.sql
Due: none

correcting field alias
  transform/snowflake-dbt/models/common/dimensions_shared/dim_subscription.sql
Due: none

Change snapshot logic
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Update field name
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

use pytest fixture instead
  extract/test/test_saas_usage_ping_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add sales analytics notebook
  sales_analytics_notebooks/daily/coverage_curves_simplified_v2.ipynb
  sales_analytics_notebooks/daily/pandas-and-jupyter-test-notebook.ipynb
Due: none

Add sales analytics notebook sql query
  sales_analytics_notebooks/daily/qtr_metrics_by_day_channel.sql
Due: none

style guide updates
  transform/snowflake-dbt/models/common_mapping/map_alternative_lead_demographics.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

housekeeping
  dags/extract/saas_usage_ping.py
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
  extract/saas_usage_ping/usage_ping.py
  extract/test/test_saas_usage_ping_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Change to pull fields from source table
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Add quotes to output view creation.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
