Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Update current date to var('tomorrow')
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Revert changes
  transform/snowflake-dbt/models/sources/data_science/ptc_scores_source.sql
Due: none

Revert changes
  transform/snowflake-dbt/models/sources/data_science/pte_scores_source.sql
Due: none

Remove line
  transform/snowflake-dbt/models/sources/data_science/pte_scores_source.sql
Due: none

cast columns in mock opps
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/fy24_mock_opportunities_source.sql
Due: none

Revert "Reduce manifest."
  extract/bizible/manifests/el_bizible_tables.yaml
Due: none

Remove bizible sessions.
  extract/bizible/manifests/el_bizible_tables.yaml
Due: none

Remove bizible sessions
  transform/snowflake-dbt/models/sources/bizible/sources.yml
Due: none

Add a new readonly role for the static database
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Corrected changes
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_pages_domains_source.sql
Due: none

changed the cluster from null to not null created_date column
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_trusted_data_extract_load_db_manifest.yaml
Due: none

changed the cluster to cluster 1
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_trusted_data_extract_load_db_manifest.yaml
Due: none

Create source models for namespace_details table
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_namespace_details_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_namespace_details_source.sql
Due: none

Debug.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add namespace notification fields to mart marketing contact
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
Due: none

Add new role to the gitlab ci user
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Add documentation
  transform/snowflake-dbt/models/common/sensitive/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
Due: none

Create change flag for user limit notification dates
  transform/snowflake-dbt/models/common/sensitive/dim_marketing_contact.sql
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
  transform/snowflake-dbt/models/marts/pumps_sensitive/pump_marketing_contact.sql
  transform/snowflake-dbt/models/sources/marketo/marketo_lead_source.sql
Due: none

update dbt image tag
  .gitlab-ci.yml
  dags/airflow_utils.py
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, pages

update dbt version
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/docs/index.html
  transform/snowflake-dbt/poetry.lock
  transform/snowflake-dbt/pyproject.toml
Due: pages

Add models to prep and prod
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_project_features_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_pages_domains.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_project_features.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/schema.yml
Due: none

add order_id and order_action_id_array
  transform/snowflake-dbt/models/common/facts_financial/restricted_safe/fct_mrr.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_charge.sql
Due: none

remove fq table ref
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_charge.sql
Due: none

formatting
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_charge.sql
Due: none

package updates
  transform/snowflake-dbt/packages.yml
Due: pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
