Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

black formatter added a ',' leading to tuple return value
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add new columns to model
  transform/snowflake-dbt/models/workspaces/workspace_product/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_rpt_event_namespace_plan_monthly.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/workspace_product.md
Due: none

remove referrer_url_path from dim and add join to fct to add sk for referrer url
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_page_view.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/prep_snowplow_page_views_all.sql
Due: none

style updates
  transform/snowflake-dbt/models/common/dimensions_shared/dim_subscription.sql
  transform/snowflake-dbt/models/common_mapping/map_latest_subscription_namespace_monthly.sql
Due: none

linting and adding field to qualify
  transform/snowflake-dbt/models/common_mapping/map_latest_subscription_namespace_monthly.sql
Due: none

change to map table
  transform/snowflake-dbt/models/common_mart_product/mart_ping_namespace_metric_health_score_saas.sql
Due: none

testing join condition
  transform/snowflake-dbt/models/common_mapping/map_latest_subscription_namespace_monthly.sql
Due: none

fix
  transform/snowflake-dbt/models/common_mapping/map_latest_subscription_namespace_monthly.sql
Due: none

add new table
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/workday_terminated_employees.sql
  transform/snowflake-dbt/models/sources/workday/workday_employment_status_source.sql
Due: none

New dbt image version.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Test commit.
  transform/snowflake-dbt/models/common/dimensions_shared/dim_subscription.sql
Due: none

Diff cleanup.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Turn off echo.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Turn off info logs.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove default level.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Different type of switching off logs.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

type hints
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Correctly cleanup logs.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove old test lines.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Clean up unnecessary logs.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Revert CI changes.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add missing table error handling.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add mapping file to test error handling.
  transform/snowflake-dbt/models/common_mapping/map_latest_subscription_namespace_monthly.sql
Due: none

Add better try excepts.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add colourful terminal logs.
  orchestration/clone_dbt_models_select.py
  orchestration/custom_log_formatter.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add colourful terminal logs.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Try loguru version.
  orchestration/clone_dbt_models_select.py
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, pages

Try loguru version.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Set colour env variable.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Clean up colour variable.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add changes from testing branch.
  orchestration/clone_dbt_models_select.py
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, pages

Point to test branch.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add error output.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Error outputs.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove manual install, testing lines, point to latest dbt release.
  orchestration/clone_dbt_models_select.py
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, pages
