Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

black tests for saas_ping
  extract/test/test_saas_usage_ping_extract.py
  extract/test/test_transform_postgres_to_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

updated data source
  transform/snowflake-dbt/macros/utils/only_force_full_refresh.sql
  transform/snowflake-dbt/models/legacy/gcp_billing/gcp_billing_export_credits.sql
  transform/snowflake-dbt/models/legacy/gcp_billing/gcp_billing_export_project_labels.sql
  transform/snowflake-dbt/models/legacy/gcp_billing/gcp_billing_export_resource_labels.sql
  transform/snowflake-dbt/models/legacy/gcp_billing/gcp_billing_export_system_labels.sql
  transform/snowflake-dbt/models/legacy/gcp_billing/gcp_billing_export_xf.sql
  transform/snowflake-dbt/models/sources/gcp_billing/gcp_billing_export_source.sql
  transform/snowflake-dbt/models/sources/gcp_billing/schema.yml
  transform/snowflake-dbt/models/sources/gcp_billing/summary_gcp_billing_source.sql
Due: none

remove old models
  transform/snowflake-dbt/models/sources/gcp_billing/gcp_billing_export_source.sql
  transform/snowflake-dbt/models/sources/gcp_billing/schema.yml
  transform/snowflake-dbt/models/sources/gcp_billing/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/gcp_billing_test/gcp_billing/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/gcp_billing_test/gcp_billing/test_gcp_billing_export_credits.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/gcp_billing_test/gcp_billing/test_gcp_billing_export_project_labels.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/gcp_billing_test/gcp_billing/test_gcp_billing_export_resource_labels.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/gcp_billing_test/gcp_billing/test_gcp_billing_export_system_labels.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/gcp_billing_test/gcp_billing/test_gcp_billing_export_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/gcp_billing_test/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/gcp_billing_test/test_gcp_billing_source.sql
Due: none

macro documentation
  transform/snowflake-dbt/macros/utils/macros.md
  transform/snowflake-dbt/macros/utils/macros.yml
Due: none

checkpoint
  transform/snowflake-dbt/models/common_mart_product/mart.md
  transform/snowflake-dbt/models/common_mart_product/mart_ping_instance_metric_gainsight_wave.sql
  transform/snowflake-dbt/models/common_mart_product/mart_saas_usage_ping_subscription_mapped_gainsight_metrics.sql
  transform/snowflake-dbt/models/common_mart_product/reports/reports.md
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_saas_gainsight_metrics_monthly_paid.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_sm_gainsight_metrics_monthly_paid.sql
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
  transform/snowflake-dbt/models/common_mart_product/schema.yml
  transform/snowflake-dbt/models/marts/pumps/pump_gainsight_metrics_monthly_paid.sql
  transform/snowflake-dbt/models/marts/pumps/pumps.md
  transform/snowflake-dbt/models/marts/pumps/schema.yml
Due: none

Change to Full Refresh
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
Due: none

Change Updated_Date
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
Due: none

add post-hook
  transform/snowflake-dbt/dbt_project.yml
Due: pages

add definitions and move is_dg_sourced definition back to dim
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_crm_touchpoint.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_lead_to_revenue.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
Due: none

fix joins, formatting
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_subscriptions_on_versions_counts_monthly.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_subscriptions_on_versions_estimate_factors_monthly.sql
Due: none

Deprovision ngalang
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Provision nhervas
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Initial structure for the Python notebooks
  dags/sales_analytics/sales_analytics_daily_notebooks.py
  dags/sales_analytics/sales_analytics_monthly_notebooks.py
  dags/sales_analytics/sales_analytics_quarterly_notebooks.py
  dags/sales_analytics/sales_analytics_weekly_notebooks.py
  dags/sales_analytics/temp.py
  sales_analytics_notebooks/daily/archive/coverage_curves_v20220309.ipynb
  sales_analytics_notebooks/daily/archive/coverage_curves_v_original.ipynb
  sales_analytics_notebooks/daily/coverage_curves_v20220624.ipynb
  sales_analytics_notebooks/daily/fy_metrics_by_day.sql
  sales_analytics_notebooks/daily/metrics_4q_by_day.sql
  sales_analytics_notebooks/daily/qtr_metrics_by_day.sql
  sales_analytics_notebooks/daily/x-ray_targets_from_topo_ssot.ipynb
  sales_analytics_notebooks/monthly/account_arr.sql
  sales_analytics_notebooks/monthly/account_summary.sql
  sales_analytics_notebooks/monthly/big_query_etl copy 2.ipynb
  sales_analytics_notebooks/monthly/big_query_etl copy 3.ipynb
  sales_analytics_notebooks/monthly/big_query_etl copy 4.ipynb
  sales_analytics_notebooks/monthly/big_query_etl copy.ipynb
  sales_analytics_notebooks/monthly/big_query_etl.ipynb
  sales_analytics_notebooks/monthly/closed_deals_fy22.sql
  sales_analytics_notebooks/monthly/sfdc_opportunity.sql
  sales_analytics_notebooks/quarterly/test_notebook.ipynb
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove test python file, add test python notebook
  dags/sales_analytics/temp.py
  sales_analytics_notebooks/weekly/test.ipynb
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Modify schedule cron expression
  dags/sales_analytics/sales_analytics_quarterly_notebooks.py
  dags/sales_analytics/sales_analytics_weekly_notebooks.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Added protected_branch_merge_access_levels dbt model
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_protected_branch_merge_access_levels.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_protected_branch_merge_access_levels.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_protected_branch_merge_access_levels.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/schema.yml
Due: none

rename models to remove website
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_link_click.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
Due: none

Update gitlab_dotcom_protected_branch_merge_access_levels.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_protected_branch_merge_access_levels.sql
Due: none

Update gitlab_dotcom_protected_branch_merge_access_levels.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_protected_branch_merge_access_levels.sql
Due: none

Update gitlab_dotcom_protected_branch_merge_access_levels.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_protected_branch_merge_access_levels.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/sources/gcp_billing/schema.yml
Due: none

include browser and os into unstructured_event
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
Due: none

change dims to use ultimate source data
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_browser.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_operating_system.sql
Due: none

use dim_behavior_event_sk from source
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_link_click.sql
Due: none

add join to dim back in
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_link_click.sql
Due: none

formatting fixes from linter
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_subscriptions_on_versions_counts_monthly.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_subscriptions_on_versions_estimate_factors_monthly.sql
Due: none

fix confusing CTE name
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_subscriptions_on_versions_counts_monthly.sql
Due: none

remove mart_waterfall
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_waterfall.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/schema.yml
  transform/snowflake-dbt/snapshots/marts/mart_waterfall_snapshot.sql
Due: none

reduce failure to 3
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

increase to 5
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

configure warning and failure thresholds for fct_crm_touchpoint uniqueness
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

add referrer_url_path
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_page_view.sql
Due: none

remove referrer_url_path from fct
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_page_view.sql
Due: none

Update templates for AE triage
  .gitlab/issue_templates/Data Triage.md
  .gitlab/issue_templates/Triage Errors AE.md
Due: none
