Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

kubernetes pod dag, create base core logic
  dags/extract/clari_extract.py
  extract/clari/src/clari.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

remove comment
  transform/snowflake-dbt/snapshots/common/dim_user_snapshot.sql
Due: none

clari api key
  dags/extract/clari_extract.py
  dags/kube_secrets.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

main()
  extract/clari/src/clari.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

changing int to number
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_releases_dedupe_source.sql
Due: none

logging
  extract/clari/src/clari.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

again
  transform/snowflake-dbt/snapshots/common/dim_user_snapshot.sql
Due: none

missing env var
  dags/extract/clari_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add CSM Webinar to virtual event
  transform/snowflake-dbt/macros/sfdc/sfdc_source_buckets.sql
Due: none

source mistake in the snapshot deprecated file
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_deprecated.sql
Due: none

is_deleted was missing
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

casting is_won to integer in snapshot
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
Due: none

add development env to ddeng
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Added airflow pool creation
  Makefile
Due: none

Reduce time batch sizes.
  extract/bizible/src/api.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Reduce date parameter
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add comment.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Black reformat.
  dags/extract/mailgun_extract.py
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Try without isodates
  dags/extract/mailgun_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove debugging logging, clean up
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Black reformat.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update roles.yml
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

change print to logging
  extract/clari/src/clari.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

use correct values for dim_behavior_website_page_sk
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
Due: none

change join to dim_behavior_website_page
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_page_view.sql
Due: none

update concatenation as there is another page_url field which returns incorrect keys
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/prep_snowplow_unnested_events_all.sql
Due: none

fix reference to page_url
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
Due: none

standardise alias for dim_behavior_referrer_page_sk
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_page_view.sql
Due: none

add date limit to prep_snowplow_unnested_events_all description
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
Due: none

add analyst marketing mcooper
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

remove not null filter to improve joins
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
Due: none

remove start_date from default_args
  dags/extract/mailgun_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

changing data types and adding fields
  transform/snowflake-dbt/models/sources/saas_usage_ping/instance_combined_metrics.sql
Due: none

upgrading version and adding column alignment
  transform/snowflake-dbt/.sqlfluff
  transform/snowflake-dbt/poetry.lock
  transform/snowflake-dbt/pyproject.toml
Due: pages

quarterly clari dag
  dags/extract/clari_extract_daily.py
  dags/extract/clari_extract_quarterly.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

rule configuration
  transform/snowflake-dbt/.sqlfluff
Due: pages

max active run logic, prev quarter logic
  dags/extract/clari_extract_daily.py
  dags/extract/clari_extract_quarterly.py
  extract/clari/src/clari.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update date
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_account.sql
  transform/snowflake-dbt/models/common/sensitive/dim_marketing_contact.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance_metric_monthly.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_product/mart_product_usage_free_user_metrics_monthly.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/mart_user_request.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_user_request_crm_account_issue_epic.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_user_request_issue_epic.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_jihu.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_snapshot_bottom_up.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_charge.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_snapshot_vs_live.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_retention_parent_account.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sfdc_account.sql
  transform/snowflake-dbt/models/marts/arr/mart_discount_arr.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_arr_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_arr_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_charge_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wip_mart_charge.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_finance_mart_atr_myb_fy22_snapshot.sql
Due: none
