Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

update sql syntax
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_case.sql
Due: none

Remove unused imports.
  extract/sheetload/sheetload_dataframe_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

CI pipeline cleanup, black reformat.
  dags/airflow_utils.py
  extract/saas_usage_ping/usage_ping.py
  sales_analytics_notebooks/daily/coverage_curves_simplified_v20221028_Rigerta.ipynb
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove \
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/schema.yml
Due: none

Update to page_url_scheme for surrogate key
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_page_view.sql
Due: none

fix compile errors
  transform/snowflake-dbt/models/sources/sfdc/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_case.sql
Due: none

Remove schedule.
  dags/extract/mailgun_backfill.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

sqlfluff
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_case.sql
Due: none

Modify dag re-run delay
  dags/sales_analytics/sales_analytics_daily_notebooks.py
  dags/sales_analytics/sales_analytics_monthly_notebooks.py
  dags/sales_analytics/sales_analytics_quarterly_notebooks.py
  dags/sales_analytics/sales_analytics_weekly_notebooks.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Fix black and flake8 formatting issues
  dags/data_science/ds_namespace_segmentation.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Modify affinity for sales analytics notebooks
  dags/sales_analytics/sales_analytics_daily_notebooks.py
  dags/sales_analytics/sales_analytics_monthly_notebooks.py
  dags/sales_analytics/sales_analytics_quarterly_notebooks.py
  dags/sales_analytics/sales_analytics_weekly_notebooks.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add translation function.
  extract/sheetload/sheetload_dataframe_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Apply review suggestion, move command part to the utils
  dags/airflow_utils.py
  dags/data_science/ds_namespace_segmentation.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Fix black
  dags/airflow_utils.py
  dags/data_science/ds_namespace_segmentation.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Modify permissions for the sales analytics role
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

corrections to primary_key
  transform/snowflake-dbt/models/sources/gcp_billing/summary_gcp_billing_source.sql
Due: none

Adding status to the person object on L2R
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

update to snapshot
  transform/snowflake-dbt/data/net_iacv_to_net_arr_ratio.csv
  transform/snowflake-dbt/data/seeds.md
  transform/snowflake-dbt/data/seeds.yml
  transform/snowflake-dbt/macros/sfdc/macros.md
  transform/snowflake-dbt/macros/sfdc/macros.yml
  transform/snowflake-dbt/macros/sfdc/sfdc_opportunity_fields.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

Add new column
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/workday_terminations.sql
  transform/snowflake-dbt/models/sources/workday/workday_employment_status_source.sql
Due: none

add table to permission role
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

adding line break
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
Due: none

add info on combining payloads
  extract/saas_usage_ping/README.md
Due: none

runs combined snapshot and live model - needs to be tested
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

adding more fields to prep model
  transform/snowflake-dbt/models/sources/saas_usage_ping/instance_combined_metrics.sql
Due: none

filtering down to combined pings
  transform/snowflake-dbt/models/sources/saas_usage_ping/instance_combined_metrics.sql
Due: none

edits
  transform/snowflake-dbt/models/sources/saas_usage_ping/instance_combined_metrics.sql
Due: none

Update Scheduling Notebook Request.md
  .gitlab/issue_templates/Scheduling Notebook Request.md
Due: none

Cron schedule, first sunday of the month.
  dags/transformation/dbt_full_refresh_weekly.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Revert changes to alpcohen and apply to Airflow user instead
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

rename to remove reference to zuora
  transform/snowflake-dbt/models/common_prep/prep_billing_account_user.sql
Due: none

update source reference name
  transform/snowflake-dbt/models/common_prep/prep_subscription.sql
Due: none

update model name in schema
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Update to cronitor format.
  dags/transformation/dbt_full_refresh_weekly.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Apply 1 suggestion(s) to 1 file(s)
  dags/transformation/dbt_full_refresh_weekly.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add GitLab Terraform Provider to the list of product projects
  transform/snowflake-dbt/data/projects_part_of_product.csv
Due: none

Add comment.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Flake8 cleanup
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add table definition and creation instructions
  .gitlab/issue_templates/Scheduling Notebook Request.md
Due: none
