Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Add upper command on stage.
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Syntax
  dags/general/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Switch back to old commands, testing.
  dags/general/pumps.py
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add license_sha256 to version_usage_data_source model
  transform/snowflake-dbt/models/sources/version/version_usage_data_source.sql
Due: none

Debugging, enable f-string.
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Re-enable stage parameter.
  dags/general/pumps.py
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Apply 1 suggestion(s) to 1 file(s)
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Black reformat.
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Updating L2R model with missing fields
  transform/snowflake-dbt/models/common_mart_marketing/reports/rpt_sfdc_bizible_tp_person_lifecycle.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

Updated requestor responsibilities and updated broken links
  .gitlab/issue_templates/Scheduling Notebook Request.md
Due: none

Update broken links
  .gitlab/issue_templates/Data Science Project Process.md
Due: none

remove ownership for gcp billing tables
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Adding account phone to snapshot base
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
Due: none

Add first_inactive_date field
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/bamboohr_id_employee_number_mapping.sql
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/bamboohr_job_role.sql
  transform/snowflake-dbt/models/sources/workday/blended_employee_mapping_source.sql
Due: none

update fct_behavior_structured_event to limit to 2 months
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_browser.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_operating_system.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_page_url_path.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_experiment.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_redis_hll_counters.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_without_assignment.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
Due: none

Add two new fields
  transform/snowflake-dbt/models/sources/sheetload/sheetload_fy23_quota_source.sql
Due: none

set service_id as NULL.
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

set full_refresh to false
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
Due: none

Fix role tier text array issue
  transform/snowflake-dbt/models/common/sensitive/bdg_marketing_contact_order.sql
  transform/snowflake-dbt/models/common/sensitive/bdg_marketing_contact_role.sql
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
Due: none

full-refresh to false
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_link_click.sql
Due: none

development pass
  transform/snowflake-dbt/macros/materializations/default_incremental_insert_materialization.sql
  transform/snowflake-dbt/macros/materializations/helpers.sql
  transform/snowflake-dbt/macros/materializations/incremental_insert_materialization.sql
  transform/snowflake-dbt/macros/materializations/insert_by_period_materialization.sql
  transform/snowflake-dbt/macros/materializations/insert_only_by_period_materialization.sql
  transform/snowflake-dbt/macros/materializations/materialized-views/default/adapters.txt
  transform/snowflake-dbt/macros/materializations/materialized-views/default/materialized_view.txt
  transform/snowflake-dbt/macros/materializations/materialized-views/snowflake/adapters.txt
  transform/snowflake-dbt/macros/materializations/materialized-views/snowflake/materialized_view.txt
  transform/snowflake-dbt/macros/materializations/rolling_incremental_materialization.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_rolling_13_months_ibp.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_rolling_13_months_insert.sql
Due: none

Changed _ to -
  dags/extract/gitlab_dbs_extract_load.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

test - removing legacy opp snapshot source
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts.sql
Due: none

update direct match logic
  transform/snowflake-dbt/models/workspaces/workspace_marketing/namespace_account_matching/wk_mart_namespace_company_account.sql
Due: none

clean up
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts.sql
Due: none

move refs to simple cte and add full_refresh = false
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
Due: none

Add first inactive date to models
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/bamboohr_id_employee_number_mapping.sql
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/employee_directory.sql
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/employee_directory_intermediate.sql
  transform/snowflake-dbt/models/legacy/bamboohr/xf/bamboohr_job_info_current_division_base.sql
Due: none

Filter out last value for is_blocked_namespace
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_daily_usage_data_events.sql
Due: none

creating workspace reporting model
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_saas_purchase_flow_funnel_base.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_daily_usage_data_events.sql
Due: none

formatting
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_saas_purchase_flow_funnel_base.sql
Due: none

update license file
  transform/snowflake-dbt/data/license_md5_to_subscription_mapping_temp.csv
  transform/snowflake-dbt/models/common_prep/prep_license.sql
Due: none

Add termination date to model
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/bamboohr_job_role.sql
Due: none

configure warning and failure thresholds for fct_crm_touchpoint uniqueness
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

reduce failure to 3
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

increase to 5
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

Upgrade dbt-image to v1.0.9
  dags/airflow_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Table jira_connect_installations added.
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
