Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Renamed PK columns
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_event_xmau_metric_monthly_snapshot_model.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_metric_totals_w_estimates_monthly_snapshot_model.sql
Due: none

Updated code
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_event_xmau_metric_monthly_snapshot_model.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_metric_totals_w_estimates_monthly_snapshot_model.sql
Due: none

Updated sources.yml with Snapshot models
  transform/snowflake-dbt/models/legacy/snapshots/base/sources.yml
Due: none

Updated schema and .md files
  transform/snowflake-dbt/models/common_mart_product/reports/reports.md
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
Due: none

add source tables and workspace model
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_merge_request_predictions_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_merge_request_predictions_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/suggested_merge_request_reviewers.sql
Due: none

Updated schema file to reflect new pk names
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
Due: none

Revert "change primary keys"
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
Due: none

update full_refresh config
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
Due: none

Add snapshot
  transform/snowflake-dbt/snapshots/workday/workday_supervisory_org_snapshots
Due: none

Fixed test case for usage_ping.py
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add sup org snapshot
  transform/snowflake-dbt/snapshots/workday/workday_supervisory_org_snapshots
  transform/snowflake-dbt/snapshots/workday/workday_supervisory_org_snapshots.sql
Due: none

Update name
  transform/snowflake-dbt/models/sources/sheetload/sheetload_ga360_custom_dimensions.sql
Due: none

Update name
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
Due: none

Add source for snapshot
  transform/snowflake-dbt/models/sources/workday/workday_supervisory_organizations_source.sql
Due: none

Add to sources.yml
  transform/snowflake-dbt/models/legacy/snapshots/base/sources.yml
Due: none

Fixed test case for usage_ping.py
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
  extract/saas_usage_ping/usage_ping.py
  extract/saas_usage_ping/utils.py
  extract/test/test_saas_usage_ping_extract.py
  extract/test/test_transform_postgres_to_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Testing completed.
  extract/saas_usage_ping/usage_ping.py
  extract/test/__init__.py
  extract/test/test_saas_usage_ping_extract.py
  extract/test/test_transform_postgres_to_snowflake.py
  extract/test/test_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Modify URL and name of the namespace seg DAG
  dags/airflow_utils.py
  dags/data_science/ds_namespace_segmentation.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Modify cron schedule
  dags/data_science/ds_namespace_segmentation.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Temporary remove retries, checkout non main branch
  dags/data_science/ds_namespace_segmentation.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

dim_user_snapshot
  transform/snowflake-dbt/snapshots/common/dim_user_snapshot.sql
Due: none

Fix black errors
  dags/data_science/ds_namespace_segmentation.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add missing permissions
  extract/sheetload/sheetload_dataframe_utils.py
  permissions/snowflake/roles.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation

Undo changes to unrelated file
  extract/sheetload/sheetload_dataframe_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Final changes to add retry steps and modify the branch for the notebook
  dags/data_science/ds_namespace_segmentation.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Apply review suggestion, add param "single" with val False
  pump/pumps.yml
Due: none

incorporate linter feedback
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ping_instance.sql
Due: none

initial change to dim_ping_instance
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ping_instance.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Upgrade dbt image and cmds
  dags/airflow_utils.py
  dags/sources/source_sfdc_validation_and_run.py
  dags/sources/source_zuora_validation_and_run.py
  dags/transformation/dbt.py
  dags/transformation/dbt_datasiren.py
  dags/transformation/dbt_edm_snapshot.py
  dags/transformation/dbt_event_backfill.py
  dags/transformation/dbt_full_refresh.py
  dags/transformation/dbt_full_refresh_weekly.py
  dags/transformation/dbt_netsuite_actuals_income_cogs_opex.py
  dags/transformation/dbt_snapshot.py
  dags/transformation/dbt_snowplow_backfill.py
  dags/transformation/dbt_snowplow_backfill_specific_model.py
  dags/transformation/dbt_snowplow_full_refresh.py
  dags/transformation/dbt_source_freshness.py
  dags/transformation/dbt_trusted_data.py
  dags/transformation/gitlab_dot_com_dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Upgrade cmds
  dags/extract/sheetload.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

update dbt audit fields
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ping_instance.sql
Due: none

Delete duplicate code.
  extract/test/test_transform_postgres_to_snowflake.py
  extract/test/test_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Check pytest.
  extract/test/test_saas_usage_ping_extract.py
  orchestration/test/test_big_query_client.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

connect test failed on remote as env variables exists.
  extract/test/test_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

connect test failed on remote as env variables exists.
  extract/test/test_saas_usage_ping_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

connect test failed on remote as env variables exists.
  orchestration/test/test_big_query_client.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest
