Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

using live key fields in the snapshot opp edm mart
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts.sql
Due: none

Update .gitlab/merge_request_templates/add_manifest_tables.md
  .gitlab/merge_request_templates/add_manifest_tables.md
Due: none

add new table to read for gainsight_pump role
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Update permissions/snowflake/roles.yml
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Modified daily notebook for testing
  sales_analytics_notebooks/daily/archive/coverage_curves_v20220309.ipynb
  sales_analytics_notebooks/daily/archive/coverage_curves_v_original.ipynb
  sales_analytics_notebooks/daily/coverage_curves_simplified_v20221019_channel.ipynb
  sales_analytics_notebooks/daily/coverage_curves_v20220624.ipynb
  sales_analytics_notebooks/daily/fy_metrics_by_day.sql
  sales_analytics_notebooks/daily/metrics_4q_by_day.sql
  sales_analytics_notebooks/daily/qtr_metrics_by_day.sql
  sales_analytics_notebooks/daily/qtr_metrics_by_day_channel.sql
Due: none

Testing...
  extract/saas_usage_ping/usage_ping.py
  extract/test/test_saas_usage_ping_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Consistent version numbers.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Move field
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

add marketing_press_sov driveload source
  extract/sheetload/drives.yml
  transform/snowflake-dbt/models/sources/driveload/driveload_marketing_press_sov.sql
  transform/snowflake-dbt/models/sources/driveload/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/wk_marketing_press_sov.sql
Due: none

Pull country from bamboohr_id_employee_number_mapping
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/bamboohr_job_role.sql
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/employee_directory.sql
Due: none

format columns
  transform/snowflake-dbt/models/sources/driveload/driveload_marketing_press_sov.sql
Due: none

formatting
  transform/snowflake-dbt/models/sources/driveload/driveload_marketing_press_sov.sql
Due: none

Update ds_propensity_to_purchase_trial.py
  dags/data_science/ds_propensity_to_purchase_trial.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

update dir
  dags/data_science/ds_propensity_to_purchase_trial.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Fix IFNULL Statement to compare lead and contact true mql
  transform/snowflake-dbt/models/marts/pumps_sensitive/pump_daily_sao.sql
Due: none

Changed to true MQL Date
  transform/snowflake-dbt/models/marts/pumps_sensitive/pump_daily_sao.sql
Due: none

temp calculations in snapshot opp xf edm marts model
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts.sql
Due: none

account summary new version
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_account_metrics_summary_year.sql
Due: none

ci_cloning_fix
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Switch to fully qualified names.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Handle starting char.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Correct replacement statement.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove extra quotes.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add special case for view identification.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Return quotes.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Correct spacing.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Testing...
  dags/extract/saas_usage_ping_backfill.py
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove ending whitespace, correct syntax.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Correct function.
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

update model name
  transform/snowflake-dbt/models/sources/driveload/driveload_marketing_press_sov.sql
  transform/snowflake-dbt/models/sources/driveload/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/marketing_press_sov.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/wk_marketing_press_sov.sql
Due: none

Split file into multiple chunks to stay under the max column size.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Wrong branch.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Stay under snowflake column max size.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Black reformat.
  extract/mailgun/src/execute.py
  orchestration/clone_dbt_models_select.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update analyst image to the v1.0.13 version
  dags/airflow_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add model to sources.yml
  transform/snowflake-dbt/models/sources/driveload/driveload_marketing_press_sov_source.sql
  transform/snowflake-dbt/models/sources/driveload/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/marketing_press_sov.sql
Due: none

Update Billing Country code
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
Due: none

update model name
  transform/snowflake-dbt/models/sources/driveload/schema.yml
Due: none

moving final workspace model to new lineage
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/new_gainsight_lineage/wk_fct_ping_instance_metric_gainsight_wave.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/new_gainsight_lineage/wk_fct_ping_instance_metric_gainsight_wave_monthly.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/new_gainsight_lineage/wk_fct_saas_gainsight_metrics_monthly.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/new_gainsight_lineage/wk_fct_saas_usage_ping_subscription_mapped_gainsight_metrics.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_pump_gainsight_metrics_monthly_paid.sql
Due: none
