Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Update dags/transformation/dbt_source_freshness.py
  dags/transformation/dbt_source_freshness.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove duplicate doc
  transform/snowflake-dbt/models/workspaces/workspace_marketing/zoominfo/schema.md
Due: none

Update dags/transformation/dbt_snowplow_full_refresh.py
  dags/transformation/dbt_snowplow_full_refresh.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

update source
  transform/snowflake-dbt/models/legacy/sheetload/sheetload_ga360_custom_dimensions.sql
Due: none

change materialzation
  transform/snowflake-dbt/dbt_project.yml
Due: pages

Update dags/transformation/dbt_event_backfill.py
  dags/transformation/dbt_event_backfill.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update documentation
  transform/snowflake-dbt/models/sources/zoominfo/schema.yml
Due: none

Modify the source model for namespace segmentation
  transform/snowflake-dbt/models/sources/data_science/namespace_segmentation_scores_source.sql
Due: none

adding filter to fix dupes
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric.sql
Due: none

Update sheetload_ga360_custom_dimensions.sql
  transform/snowflake-dbt/models/sources/sheetload/sheetload_ga360_custom_dimensions_source.sql
Due: none

adds dev env for cleroux
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Add new columns
  transform/snowflake-dbt/models/sources/zoominfo/zi_comp_with_linkages_global_source.sql
Due: none

Update dbt.py
  dags/transformation/dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update dags/transformation/dbt_edm_snapshot.py
  dags/transformation/dbt_edm_snapshot.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update dags/transformation/dbt_full_refresh_weekly.py
  dags/transformation/dbt_full_refresh_weekly.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Apply typo review suggestion
  transform/snowflake-dbt/models/sources/data_science/namespace_segmentation_scores_source.sql
Due: none

Update dags/transformation/gitlab_dot_com_dbt.py
  dags/transformation/gitlab_dot_com_dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Fix format
  transform/snowflake-dbt/models/sources/zoominfo/zi_comp_with_linkages_global_source.sql
Due: none

Update dags/transformation/dbt_snowplow_backfill_specific_model.py
  dags/transformation/dbt_snowplow_backfill_specific_model.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove duplicate
  transform/snowflake-dbt/models/sources/zoominfo/zi_comp_with_linkages_global_source.sql
Due: none

Update docs for wk_dim_company
  transform/snowflake-dbt/models/workspaces/workspace_marketing/schema.yml
Due: none

Update aliases
  transform/snowflake-dbt/models/sources/zoominfo/zi_comp_with_linkages_global_source.sql
Due: none

Update dags/transformation/dbt_netsuite_actuals_income_cogs_opex.py
  dags/transformation/dbt_netsuite_actuals_income_cogs_opex.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update dbt_snapshot.py
  dags/transformation/dbt_snapshot.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update dags/transformation/dbt_full_refresh.py
  dags/transformation/dbt_full_refresh.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update dags/transformation/dbt.py
  dags/transformation/dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Fix column name
  transform/snowflake-dbt/models/sources/zoominfo/schema.yml
Due: none

Fix doc name
  transform/snowflake-dbt/models/workspaces/workspace_marketing/zoominfo/schema.md
Due: none

Fix format and docs
  transform/snowflake-dbt/models/sources/zoominfo/schema.yml
  transform/snowflake-dbt/models/sources/zoominfo/zi_comp_with_linkages_global_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/zoominfo/schema.md
Due: none

Update source file and change columns
  transform/snowflake-dbt/models/sources/zoominfo/sources.yml
  transform/snowflake-dbt/models/sources/zoominfo/zi_comp_with_linkages_global_source.sql
Due: none

Update dags/sources/source_sfdc_validation_and_run.py
  dags/sources/source_sfdc_validation_and_run.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update schema
  transform/snowflake-dbt/models/sources/zoominfo/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/zoominfo/schema.md
Due: none

remove ae fusion roles
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Adding account name to L2R
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

Update roles.yml
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

changing int to number
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_releases_dedupe_source.sql
Due: none

changing data types and adding fields
  transform/snowflake-dbt/models/sources/saas_usage_ping/instance_combined_metrics.sql
Due: none

specifying aliases
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_releases_dedupe_source.sql
Due: none

add analyst marketing mcooper
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
