Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

testing URL
  dags/extract/gitlab_data_yaml.py
  extract/gitlab_data_yaml/upload.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

separating deltas models and adding user_email
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_closed_pipeline.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_deltas_net_arr.sql
Due: none

parking the model separation for now & changing the email field
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_closed_pipeline.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_deltas.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_deltas_net_arr.sql
Due: none

testing URL
  extract/gitlab_data_yaml/upload.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

More code cleanup, separated into functions.
  orchestration/clone_models_testing.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Syntax errors.
  orchestration/clone_models_testing.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Cleanup, black reformat, remove test code.
  orchestration/clone_models_testing.py
  orchestration/manage_snowflake.py
  transform/snowflake-dbt/manifest_parser.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, pages

Correct grant syntax.
  orchestration/clone_models_testing.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

changing query filters
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_product_navigation_base.sql
Due: none

adding documentation
  transform/snowflake-dbt/models/sources/snowflake/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_data/snowflake/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_data/snowflake/snowflake_queries.sql
Due: none

Fix macro invocation
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_product_navigation_base.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/sources/google_analytics_360/ga360_session_hit_custom_dimension_source.sql
Due: none

Add custom logic for is_licensed_user
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

add condition to handle sql compile errors during recursive call
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

rename task
  dags/extract/saas_usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update table source for field
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

Modified to request
  extract/gitlab_data_yaml/upload.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

fixed variable
  extract/gitlab_data_yaml/upload.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Rollback to master.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

More cleanup, renamed files.
  orchestration/clone_dbt_models_select.py
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, pages

check file size
  extract/gitlab_data_yaml/upload.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

linting changes
  dags/extract/saas_usage_ping.py
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
  extract/saas_usage_ping/usage_ping.py
  extract/test/test_saas_usage_ping_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add pte_ and ptc_ scores to DIM_CRM_ACCOUNT_DAILY_SNAPSHOT
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Update source for field
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

Remove comma
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Move join to include in both live and snapshot
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Removed duplicate final CTE
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

Update dbt_audit
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

column updates
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint_combined.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_lead_to_revenue.sql
  transform/snowflake-dbt/models/common_mart_marketing/reports/rpt_sfdc_bizible_linear.sql
  transform/snowflake-dbt/models/common_mart_marketing/reports/rpt_sfdc_bizible_tp_person_lifecycle.sql
Due: none

check logging issue
  extract/gitlab_data_yaml/upload.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

adding fields to account related models
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_account.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
Due: none

Pylint and black formatting
  extract/gitlab_data_yaml/upload.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Added new source table protected_branch_merge_access_levels
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

Added new source table protected_branch_push_access_levels
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

Added new reconciliation source table protected_branch_merge_access_levels
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_trusted_data_extract_load_db_manifest.yaml
Due: none

Added new reconciliation source table protected_branch_push_access_levels
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_trusted_data_extract_load_db_manifest.yaml
Due: none

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
