Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

More debugging.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Better path redirect, new type of clone.
  .gitlab-ci.yml
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Test new clone rule.
  .gitlab-ci.yml
Due: none

Correct input path.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Debug base CI job changes.
  .gitlab-ci.yml
Due: none

Test If then.
  .gitlab-ci.yml
Due: none

Remove NOT NULL tests as LICENSE_SHA256 was added.
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Remove LS's.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Correction.
  .gitlab-ci.yml
Due: none

Try git log rather.
  .gitlab-ci.yml
Due: none

Revert to master branch.
  transform/snowflake-dbt/models/common_prep/prep_usage_ping_free_user_metrics.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Add manual deps step.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Correct if then syntax.
  .gitlab-ci.yml
Due: none

Test if then syntax.
  .gitlab-ci.yml
Due: none

remove redundant code
  dags/transformation/dbt_six_hourly.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add the MQL_Counter__c field from the lead object
  transform/snowflake-dbt/models/sources/sfdc/sfdc_lead_source.sql
Due: none

test different types of grants.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Try different editing.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Test new type of pipeline, only run on first commit.
  .gitlab-ci.yml
Due: none

Correct variable mapping.
  .gitlab-ci.yml
Due: none

Test different variables.
  .gitlab-ci.yml
Due: none

Test additional variable.
  .gitlab-ci.yml
Due: none

Make jobs manual.
  .gitlab-ci.yml
Due: none

Move snowflake down.
  .gitlab-ci.yml
Due: none

Try switching out to new version of logic.
  .gitlab-ci.yml
Due: none

Add allow failure.
  .gitlab-ci.yml
Due: none

Re-enable manual cloning prod.
  .gitlab-ci.yml
Due: none

Move snowflake back.
  .gitlab-ci.yml
Due: none

Test GitLab CI first commit change.
  .gitlab-ci.yml
Due: none

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
