Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Remove module instruction in favor of shebang line.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Flake8 whitespace fixes.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Comment.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add emojis.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Cleanup, add section, remove plus signs.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

update sk to pk
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_link_click.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
Due: none

make inner join explicit
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_link_click.sql
Due: none

formatting
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_link_click.sql
Due: none

remove page_view_lookback_days from incremental logic
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_event.sql
Due: none

Update sfdc_account_source to remove fields
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
Due: none

python compliance
  dags/extract/external_gcp_billing.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

spacing
  extract/gcs_external/src/gcp_billing/gcs_external.yml
  transform/snowflake-dbt/models/sources/gcp_billing/sources.yml
Due: none

null removed column
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_ci_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_ops_scd_db_manifest.yaml
Due: none

set NULL to build_coverage_regex
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_ops_db_manifest.yaml
Due: none

Move ptpt_scores to prep schema
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
  transform/snowflake-dbt/models/common_prep/prep.md
  transform/snowflake-dbt/models/common_prep/prep_ptpt_scores_by_user.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_data_science/schema.yml
Due: none

Refactor ptpt by user to use prep and source tables only
  transform/snowflake-dbt/models/common_prep/prep_ptpt_scores_by_user.sql
Due: none

Add fields to pump model
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
  transform/snowflake-dbt/models/marts/pumps_sensitive/pump_marketing_contact.sql
Due: none

opp snapshot edm refactor
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts.sql
Due: none

adds bnguyen
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Pylint and black formatting
  dags/data_science/ds_propensity_to_contract.py
  dags/extract/gitlab_dbs_extract_load.py
  dags/transformation/gitlab_dot_com_dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Pylint and black formatting
  dags/extract/gitlab_dbs_extract_load.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

is deleted filter and modifying opp owner loc
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_accounts_xf_edm_marts.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts.sql
Due: none

Adds ashaikh
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

adds customers_db to mconteanu
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Return plus signs.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add create schema for tables.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add fct_behavior_unstructured_event
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/prep_snowplow_unnested_events_all.sql
Due: none

better var ref
  dags/extract/external_gcp_billing.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

reduce scope of derived fact as source has dims
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_link_click.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
Due: none

update schema
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
Due: none

Adding Phone number fields to marts
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_contact_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_lead_source.sql
Due: none

Updating account macro with fields
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Update Gitlab.com communication - refer to runbook
  .gitlab/issue_templates/Data Triage.md
Due: none

Update Data Triage.md
  .gitlab/issue_templates/Data Triage.md
Due: none

Parameterise data_pump, allow for different stages.
  dags/general/pumps.py
  pump/pumps.py
  pump/pumps.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Switch to pod env vars.
  dags/general/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove copying, switch back to old vars.
  dags/general/pumps.py
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest
