Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

sqlfluff prep
  transform/snowflake-dbt/models/sources/clari/clari_net_arr_entries_source.sql
  transform/snowflake-dbt/models/sources/clari/clari_net_arr_fields_source.sql
  transform/snowflake-dbt/models/sources/clari/clari_net_arr_time_frames_source.sql
  transform/snowflake-dbt/models/sources/clari/clari_net_arr_time_periods_source.sql
  transform/snowflake-dbt/models/sources/clari/clari_net_arr_users_source.sql
Due: none

adding order type live in the wk sales opp xf table
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

Remove fields after fixing conflict
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

workspace model added
  transform/snowflake-dbt/models/sources/clari/clari_net_arr_entries_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_clari_net_arr_forecast.sql
Due: none

lint prod model
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_clari_net_arr_forecast.sql
Due: none

Add all to CTEs
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_metric_first_last_versions.sql
Due: none

Add employee_count_band
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Fix identifier
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Add crm_account_employee_count_band
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
Due: none

Add crm_account_employee_count_band
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  orchestration/drop_snowflake_objects.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update drop_snowflake_objects.py
  orchestration/drop_snowflake_objects.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Switch back to previous date calc.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Black reformat.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Correct full refresh end date.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

eng-analytics/team-tasks#120 add uploaded_at field to prep model
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_issue_assignees_source.sql
Due: none

eng-analytics/team-tasks#120 add uploaded_at field to prep model
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_issue_assignees_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
Due: none

eng-analytics/team-tasks#120 add uploaded_at field to prep model
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
Due: none

move snowplow prep tables into common_prep
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/base/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/base/snowplow.month_partition.md
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/base/snowplow_duplicate_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/base/snowplow_gitlab_bad_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/base/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/base/snowplow_gitlab_events_experiment_contexts.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/base/snowplow_gitlab_events_standard_context.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/base/snowplow_gitlab_events_web_page_id.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/base/snowplow_unnested_errors.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/base/snowplow_unnested_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/base/snowplow_web_events.sql
Due: none

remove base from path
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow.month_partition.md
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_duplicate_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_bad_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_contexts.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_standard_context.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_web_page_id.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_unnested_errors.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_unnested_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_web_events.sql
Due: none

remove dupe field in snapshot vs live model
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_snapshot_vs_live.sql
Due: none

update week_number logic to start from 0
  transform/snowflake-dbt/models/sources/clari/clari_net_arr_time_frames_source.sql
Due: none

Add missing field
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
Due: none

Remove fields from docs
  transform/snowflake-dbt/models/common_prep/restricted_safe/schema.yml
  transform/snowflake-dbt/models/legacy/sfdc/xf/schema.yml
  transform/snowflake-dbt/models/sources/sfdc/schema.yml
Due: none

Remove test and column
  transform/snowflake-dbt/models/sources/workday/schema.yml
Due: none

Remove column
  transform/snowflake-dbt/models/sources/workday/workday_supervisory_organizations_source.sql
Due: none

Add valid to and valid from
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/dim_team.sql
Due: none

Remove nulls and add array
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/dim_team.sql
Due: none

Update surrogate key
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/dim_team.sql
Due: none

Update valid to and from
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/dim_team.sql
Due: none

adjust model filter to 2022-01-01
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_service_mapping_day.sql
Due: none

Add group by
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/dim_team.sql
Due: none

adds jng
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Switch to continues
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove continues, break on missing timestamp.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Move page token break, return empty data set handlers.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Debugging.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Clear previous page token.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Smarter conditional
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest
