Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Remove comma
  transform/snowflake-dbt/snapshots/workday/workday_supervisory_org_snapshots.sql
Due: none

Add to schema
  transform/snowflake-dbt/models/sources/workday/schema.yml
Due: none

Add documentation
  transform/snowflake-dbt/models/sources/workday/sources.yml
  transform/snowflake-dbt/models/sources/workday/workday_source_descriptions.md
Due: none

Add start and end dates.
  dags/extract/bizible_extract.py
  extract/bizible/src/api.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Move start date into DAG.
  dags/extract/mailgun_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test schedule.
  dags/extract/mailgun_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Revert test schedule, reset start and end dates.
  dags/extract/mailgun_extract.py
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

change method for constructing page and referrer url_path
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/prep_snowplow_unnested_events_all.sql
Due: none

Add complex joins for performance improvements. Simplify SELECT statements
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric.sql
Due: none

Remove now invalid condition.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test moving start date back.
  dags/extract/mailgun_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Move back into DAG definition.
  dags/extract/mailgun_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test new DAG.
  dags/extract/mailgun_extract_test.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Move start date back, remove test dag.
  dags/extract/mailgun_extract.py
  dags/extract/mailgun_extract_test.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

adjusting ping_type values
  transform/snowflake-dbt/models/common_prep/prep_ping_instance.sql
  transform/snowflake-dbt/models/sources/saas_usage_ping/instance_combined_metrics.sql
Due: none

generate key using table values
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_page_view.sql
Due: none

Greatly simplified function, running using Airflow variables rather than calculated SnowFlake values.
  extract/bizible/src/api.py
  extract/bizible/src/main.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove unrelated change
  transform/snowflake-dbt/models/common/common_columns.md
Due: none

rules refinement
  transform/snowflake-dbt/.sqlfluff
Due: pages

doc clean-up
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common_mart_product/reports/reports.md
  transform/snowflake-dbt/models/common_mart_product/reports/reports_columns.md
Due: none

Use consistent structure
  transform/snowflake-dbt/models/common_mart_product/reports/reports.md
Due: none

Incorporate feedback
  transform/snowflake-dbt/models/common_mart_product/reports/reports.md
Due: none

remove emergencyContacts report from extraction
  extract/bamboohr/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

final testing
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_hist.sql
  transform/snowflake-dbt/snapshots/common/dim_user_snapshot.sql
Due: none

Fix
  transform/snowflake-dbt/models/common_mart_product/reports/reports.md
Due: none

update readme
  extract/bamboohr/README.md
Due: none

adding model for service ping events
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_namespace_snowplow_clicks_workspace.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_fct_snowplow_events_service_ping.sql
Due: none

add testing
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/schema.yml
Due: none

adding additional tables and documentation
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_mart_snowplow_events_service_ping_metrics.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_rpt_user_based_metric_counts_namespace_monthly.sql
Due: none

update comment - SAO fields are no longer in use
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
Due: none

Add value
  transform/snowflake-dbt/models/legacy/google_analytics_360/intermediate/ga360_session_hit.sql
Due: none

Add value
  transform/snowflake-dbt/models/legacy/google_analytics_360/intermediate/ga360_session.sql
Due: none

Add sheetload
  transform/snowflake-dbt/models/legacy/google_analytics_360/xf/ga360_session_hit_custom_dimension_xf.sql
Due: none

Delete file
  transform/snowflake-dbt/data/google_analytics_custom_dimension_indexes.csv
Due: none

dim_user_snapshot intial
  transform/snowflake-dbt/snapshots/common/dim_user_snapshot.sql
Due: none

Ready for Review
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_bottom_up.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_user_details_snapshots_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_users_snapshots_source.sql
Due: none

Added license_file_sha256 column.
  transform/snowflake-dbt/models/sources/customers/customers_db_licenses_source.sql
Due: none

Renamed license_file_sha256 to license_sha256
  transform/snowflake-dbt/models/sources/customers/customers_db_licenses_source.sql
Due: none

add model
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_bottom_up
Due: none

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
