Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

remove nullif to see if this fixes timeout
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
Due: none

Update schema
  transform/snowflake-dbt/models/sources/zoominfo/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/zoominfo/schema.md
Due: none

Update documentation
  transform/snowflake-dbt/models/sources/zoominfo/schema.yml
Due: none

Fix errors
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
  transform/snowflake-dbt/models/marts/arr/mart_delta_arr_parent_month.sql
  transform/snowflake-dbt/models/marts/arr/mart_delta_arr_parent_product_month.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_finance_mart_atr_myb_fy22_snapshot.sql
Due: none

Fix industry and group bys
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
  transform/snowflake-dbt/models/legacy/retention/retention_parent_account_.sql
  transform/snowflake-dbt/models/marts/arr/mart_delta_arr_parent_month.sql
Due: none

Remove duplicate
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
Due: none

Remove field
  transform/snowflake-dbt/models/marts/arr/mart_delta_arr_parent_product_month.sql
Due: none

Add column license_sha256 to prep_usage_ping.
  transform/snowflake-dbt/models/common_prep/prep_usage_ping.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Add column license_sha256 to dim_usage_ping.
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ping_instance.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Add column license_sha256 to dim_usage_ping.
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Add column license_sha256 to prep_usage_ping.
  transform/snowflake-dbt/models/common/common_columns.md
Due: none

Fix typo for dates.
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_license.sql
  transform/snowflake-dbt/models/common_prep/prep_usage_ping.sql
Due: none

Add new CI image.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Return image.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Test login pre script.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add LICENSE_SHA256 in the WHERE clause along with LICENSE_MD5.
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_wave.sql
  transform/snowflake-dbt/models/common_mart_product/mart_ping_instance_metric_health_score_self_managed.sql
  transform/snowflake-dbt/models/common_prep/prep_ping_instance_flattened.sql
  transform/snowflake-dbt/models/common_prep/prep_usage_ping_no_license_key.sql
  transform/snowflake-dbt/models/common_prep/prep_usage_ping_subscription_mapped.sql
  transform/snowflake-dbt/models/common_prep/prep_usage_ping_subscription_mapped_smau.sql
  transform/snowflake-dbt/models/legacy/version/xf/version_usage_data_weekly_opt_in_summary.sql
Due: none

Add demographics fields
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr.sql
Due: none

add selectors.yml
  transform/snowflake-dbt/selectors.yml
Due: pages

add tag to prep_crm_opportunity
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

add tag to dim_crm_opportunity
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_opportunity.sql
Due: none

add six_hourly tag to fct_crm_opportunity
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_opportunity.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

adding tests
  transform/snowflake-dbt/models/sources/google_ads/schema.yml
Due: none

update dag to use selector
  dags/transformation/dbt_six_hourly.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

adding bridge table for redis metrics
  transform/snowflake-dbt/models/common/bridge/bdg_metrics_redis_events.sql
Due: none

add performance section
  .gitlab/merge_request_templates/dbt Model Changes.md
Due: none

change table name
  .gitlab/merge_request_templates/dbt Model Changes.md
Due: none

change to snapshot_id
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_bottom_up.sql
Due: none

adding testing and documenation
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Updated PKs
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
Due: none

Added license_sha265 to the model map_license_subscription_account.
  transform/snowflake-dbt/models/common_mapping/map_license_subscription_account.sql
  transform/snowflake-dbt/models/common_mapping/schema.yml
Due: none

python compliance
  dags/general/pumps.py
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add overwrite
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

adds restricted_safe to caitlin
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

adds restricted_safe to dcharukulvanich
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

removes rparker
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Remove deps and seed.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Added license_sha265 to the model map_license_subscription_account.
  transform/snowflake-dbt/models/common_prep/prep_usage_ping_free_user_metrics.sql
  transform/snowflake-dbt/models/common_prep/prep_usage_ping_no_license_key.sql
  transform/snowflake-dbt/models/common_prep/prep_usage_ping_subscription_mapped_smau.sql
Due: none

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
