Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

modify schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

clean up list of fields for hash macro
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
Due: none

Add marketo lead id to marketing pump
  transform/snowflake-dbt/models/common/sensitive/dim_marketing_contact.sql
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
  transform/snowflake-dbt/models/marts/pumps_sensitive/pump_marketing_contact.sql
Due: none

Add saas trial to pql fields
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
Due: none

Add saas trial flag to pump model
  transform/snowflake-dbt/models/marts/pumps_sensitive/pump_marketing_contact.sql
Due: none

typo and lint fix
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_service_mapping_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

Fix issues
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_arr_no_manual_adjustment_for_sfdc_reconciliation.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/namespace_account_matching/wk_mart_namespace_company_account.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_accounts_xf_edm_marts.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
Due: none

Create dim_team
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/dim_team.sql
Due: none

Update wk_mart_namespace_company_account.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/namespace_account_matching/wk_mart_namespace_company_account.sql
Due: none

Update date
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_account.sql
  transform/snowflake-dbt/models/common/sensitive/dim_marketing_contact.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance_metric_monthly.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_product/mart_product_usage_free_user_metrics_monthly.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/mart_user_request.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_user_request_crm_account_issue_epic.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_user_request_issue_epic.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_jihu.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_snapshot_bottom_up.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_charge.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_snapshot_vs_live.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_retention_parent_account.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sfdc_account.sql
  transform/snowflake-dbt/models/marts/arr/mart_discount_arr.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_arr_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_arr_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_charge_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wip_mart_charge.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_finance_mart_atr_myb_fy22_snapshot.sql
Due: none

fix file name and where clause
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_service_mapping_day.sql
Due: none

fix model name
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

fix sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_service_mapping_day.sql
Due: none

update schema
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

changing to Jan 2023
  transform/snowflake-dbt/models/common_prep/prep_ping_instance.sql
Due: none

fy24 key tests
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_reporting_keys_test/wk_sales_report_agg_keys_fy24_test.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_reporting_keys_test/wk_sales_sfdc_opportunity_snapshot_history_xf_agg_key_fy24_test.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_reporting_keys_test/wk_sales_sfdc_opportunity_xf_agg_key_fy24_test.sql
Due: none

update start_date to production values
  dags/extract/clari_extract_daily.py
  dags/extract/clari_extract_quarterly.py
  extract/clari/src/README.md
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

fix quarter logic for january
  extract/clari/src/clari.py
  extract/test/test_clari_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

update module comment
  extract/clari/src/clari.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

sheetload_toy_marketing_handbook_source in models
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
Due: none

new driveload reports
  extract/sheetload/drives.yml
  transform/snowflake-dbt/models/sources/driveload/driveload_zuora_revenue_billing_waterfall_report_with_additional_columns_source.sql
  transform/snowflake-dbt/models/sources/driveload/driveload_zuora_revenue_waterfall_report_with_wf_type_adjustments_source.sql
  transform/snowflake-dbt/models/sources/driveload/driveload_zuora_revenue_waterfall_report_with_wf_type_net_revenue_with_mje_flag_y_source.sql
  transform/snowflake-dbt/models/sources/driveload/driveload_zuora_revenue_waterfall_report_with_wf_type_unbilled_revenue_source.sql
  transform/snowflake-dbt/models/sources/driveload/schema.yml
  transform/snowflake-dbt/models/sources/driveload/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_zuora_revenue_billing_waterfall_report_with_additional_columns.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_zuora_revenue_waterfall_report_with_wf_type_adjustments.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_zuora_revenue_waterfall_report_with_wf_type_net_revenue_with_mje_flag_y.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_zuora_revenue_waterfall_report_with_wf_type_unbilled_revenue.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

temp solution to prevent error
  transform/snowflake-dbt/models/sources/container_registry/container_registry_download_logs_raw.sql
Due: none

update test name
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_metric_first_last_versions.sql
Due: none

Removing unnecessary filters
  transform/snowflake-dbt/models/common_mart/mart_ping_instance_metric_monthly.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_latest_subscriptions_monthly.sql
Due: none

Update alias after merge conflict resolution
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

update alias in mart_crm_opportunity
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
Due: none

Fixing misnames and removing filtering of metrics
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_metric_first_last_versions.sql
Due: none

Fixing formating, naming
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_metric_first_last_versions.sql
Due: none

Fixing formatting
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_metric_first_last_versions.sql
Due: none

Remove test
  transform/snowflake-dbt/models/legacy/retention/schema.yml
Due: none

adds mnohr
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

adds smishra
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Debugging lines
  dags/transformation/dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

formatting
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

clean up
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Test using first Wednesday
  dags/transformation/dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Additional start date, reduce schedule.
  dags/transformation/dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
