Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

style guide and optimization
  transform/snowflake-dbt/models/legacy/version/xf/version_user_activity_by_stage_monthly_unpacked.sql
Due: none

Add aliases
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
Due: none

Reorganize fields
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
Due: none

Correct grant type, user.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Doc strings; cleanup.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove test file.
  transform/snowflake-dbt/test.json
Due: pages

deprecate unused models
  transform/snowflake-dbt/models/legacy/sfdc/restricted_safe/sfdc_account_snapshot_history.sql
  transform/snowflake-dbt/models/legacy/sfdc/xf/schema.yml
  transform/snowflake-dbt/models/legacy/snapshots/base/schema.yml
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_base.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_base_clean.sql
Due: none

remove order by
  transform/snowflake-dbt/macros/utils/create_snapshot_base.sql
Due: none

use fire
  dags/extract/external_gcp_billing.py
  extract/gcs_external/src/gcp_billing/gcs_external.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

fix module
  extract/gcs_external/src/gcp_billing/gcs_external.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

fix func order
  extract/gcs_external/src/gcp_billing/gcs_external.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

fix func args
  extract/gcs_external/src/gcp_billing/gcs_external.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

test path
  extract/gcs_external/src/gcp_billing/gcs_external.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

fix path
  extract/gcs_external/src/gcp_billing/gcs_external.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

fix partition name
  extract/gcs_external/src/gcp_billing/gcs_external.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

hand month partition WHERE clause
  extract/gcs_external/src/gcp_billing/gcs_external.yml
Due: none

apply black
  dags/extract/container_reg.py
  dags/extract/external_gcp_billing.py
  extract/gcs_external/src/gcp_billing/gcs_external.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

uncomment bq
  extract/gcs_external/src/gcp_billing/gcs_external.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

update macro
  transform/snowflake-dbt/macros/sfdc/sfdc_opportunity_fields.sql
Due: none

update for new external tables
  transform/snowflake-dbt/models/sources/gcp_billing/sources.yml
Due: none

new yml
  extract/gcs_external/src/gcp_billing/gcs_external.yml
  orchestration/big_query_client.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add quiet flag.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add clone models, debug version.
  orchestration/manage_snowflake.py
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, pages

Remove parse clone.
  transform/snowflake-dbt/parse_clone.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, pages

Missing name to output.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Syntax corrections.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add transient logic.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Cleanup.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add token information to extraction
  extract/gitlab_data_yaml/README.md
Due: none

Add newlines
  extract/gitlab_data_yaml/README.md
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

add app_id criteria
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_event.sql
Due: pages

Add views.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Quotes
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Debugging view creation
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Fully qualified names.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove debugging lines.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add create schema step.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Syntax.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
