Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

add sku model
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_skus_day.sql
Due: none

improve view, add model to schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_skus_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

improve view
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_skus_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

lint fix
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_skus_day.sql
Due: none

typo
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

Update repo url
  dags/airflow_utils.py
  dags/sales_analytics/sales_analytics_daily_notebooks.py
  dags/sales_analytics/sales_analytics_monthly_notebooks.py
  dags/sales_analytics/sales_analytics_quarterly_notebooks.py
  dags/sales_analytics/sales_analytics_weekly_notebooks.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove directory with notebooks from analytics
  dags/airflow_utils.py
  sales_analytics_notebooks/daily/coverage_curves_simplified_v20221028_Rigerta.ipynb
  sales_analytics_notebooks/daily/qtr_metrics_by_day_channel.sql
  sales_analytics_notebooks/monthly/.gitkeep
  sales_analytics_notebooks/quarterly/.gitkeep
  sales_analytics_notebooks/weekly/.gitkeep
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

update rule config
  transform/snowflake-dbt/.sqlfluff
Due: pages

Incorporate style feedback
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ping_instance.sql
Due: none

fix indentation, update audit section
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ping_instance.sql
Due: none

revert indentation change
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ping_instance.sql
Due: none

Remove _latest model, update docs
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/legacy/gitlab_data_yaml/base/performance_indicators_yaml_latest.sql
  transform/snowflake-dbt/models/legacy/gitlab_data_yaml/base/schema.yml
Due: none

Remove line breaks in schema files
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/legacy/gitlab_data_yaml/base/schema.yml
Due: none

Update file bamboohr_job_role.sql
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/bamboohr_job_role.sql
Due: none

fix schema files
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/legacy/gitlab_data_yaml/base/schema.yml
Due: none

testing and readme
  dags/extract/clari_extract_daily.py
  dags/extract/clari_extract_quarterly.py
  extract/clari/src/README.md
  extract/clari/src/clari.py
  extract/test/test_clari_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

linting
  dags/extract/clari_extract_daily.py
  dags/extract/clari_extract_quarterly.py
  extract/clari/src/clari.py
  extract/test/test_clari_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

clean up dag
  dags/extract/clari_extract_daily.py
  dags/extract/clari_extract_quarterly.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add order type live to opp models and update docs
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_opportunity.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_snapshot_vs_live.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
Due: none

Add missing end docs
  transform/snowflake-dbt/models/common/common_columns.md
Due: none

Update fct_crm_opp to dim_order_type_id ref
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
Due: none

Fix errors
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sfdc_account.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_accounts_xf_edm_marts.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_deprecated.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_deprecated.sql
Due: none

add current service mapping mapping
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_service_mapping_daily.sql
Due: none

Add product tags
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_performance_indicator_targets.sql
  transform/snowflake-dbt/models/legacy/gitlab_data_yaml/base/performance_indicators_yaml_historical.sql
Due: none

Fix join in fct_crm_opportunity
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
Due: none

Add fy24 placeholder targets and remove placeholder targets from workspace model
  extract/sheetload/sheets.yml
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
  transform/snowflake-dbt/models/sources/sheetload/sheetload_fy24_placeholder_target_source.sql
  transform/snowflake-dbt/models/sources/sheetload/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/sheetload_fy24_placeholder_target.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_sales_funnel_target.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/schema.yml
Due: none

Update source schema.yml
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
Due: none

Update alias name in mart_crm_opportunity_stamped_hierarchy_hist
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
Due: none

quarterly dag for new quarter
  dags/extract/clari_extract_daily.py
  dags/extract/clari_extract_quarterly.py
  extract/clari/src/README.md
  extract/clari/src/clari.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

fix spacing and add two missing columns
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_rev.sql
Due: none

update names
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_rev.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue_deprecated.sql
Due: none

add logic to quarterly DAG, run both quarters
  dags/extract/clari_extract_quarterly.py
  extract/clari/src/README.md
  extract/clari/src/clari.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

next round of doc updates
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/common_mart.md
  transform/snowflake-dbt/models/common_mart/schema.yml
Due: none

small fixes
  transform/snowflake-dbt/models/common/common.md
Due: none

small fix
  transform/snowflake-dbt/models/common/common.md
Due: none

Fix errors
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_accounts_xf_edm_marts.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_deprecated.sql
Due: none
