Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Update extraction steps
  .gitlab/issue_templates/Triage Errors AE.md
Due: none

update linkage logic
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
Due: none

update files
  transform/snowflake-dbt/data/license_md5_to_subscription_mapping_temp.csv
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

update licensed user flag
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

adds TSCOTT
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Intermediate commit
  dags/airflow_utils.py
  dags/sales_analytics/sales_analytics_daily_notebooks.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Removed member of roles for this new role
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Remove unused.
  dags/extract/saas_usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

remove mnpi_exception tag
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_protected_branch_merge_access_levels.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_protected_branch_merge_access_levels.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_protected_branch_merge_access_levels.sql
Due: none

alow full refresh
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_rolling_13_months.sql
Due: none

incorporate feedback
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_browser.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_operating_system.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
Due: none

fix ambiguous column name
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_link_click.sql
Due: none

add new dimension keys
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_link_click.sql
Due: none

Add trial orders, and the replacement when the order is cancelled. Account in upstream models for the new trials that flow through
  transform/snowflake-dbt/models/common/bridge/bdg_namespace_order_subscription.sql
  transform/snowflake-dbt/models/common/sensitive/bdg_marketing_contact_order.sql
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
Due: none

Changed dedupe file name
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_protected_branch_merge_access_levels_dedupe_source.sql
Due: none

Changed file name
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_protected_branch_merge_access_levels_source.sql
Due: none

update kube config instructions
  .gitlab/issue_templates/Data Onboarding.md
Due: none

Update renamed files schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
Due: none

Update gitlab_dotcom_protected_branch_merge_access_levels.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_protected_branch_merge_access_levels.sql
Due: none

resolve ambiguous column name
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
Due: none

remove duplicate field
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_link_click.sql
Due: none

Add owner to gemnasium-db
  transform/snowflake-dbt/data/projects_part_of_product.csv
Due: none

Update transform/snowflake-dbt/data/projects_part_of_product.csv
  transform/snowflake-dbt/data/projects_part_of_product.csv
Due: none

edit
  transform/snowflake-dbt/models/sources/google_analytics_360/ga360_session_hit_custom_dimension_source.sql
Due: none

update order of ctes in user model
  transform/snowflake-dbt/macros/sfdc/sfdc_user_fields.sql
Due: none

update spelling mistake in schema.yml
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

update to use snapshot model
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

update case statement
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

Add DRI for Browserker
  transform/snowflake-dbt/data/projects_part_of_product.csv
Due: none

Add fields to alias
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Added protected_branch_push_access_levels source
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_protected_branch_push_access_levels_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_protected_branch_push_access_levels_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_protected_branch_push_access_levels.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/schema.yml
Due: none

Remove keyhole twitter pipeline.
  dags/extract/keyhole_twitter_extract.py
  extract/keyhole_twitter/README.md
  extract/keyhole_twitter/__init__.py
  extract/keyhole_twitter/src/__init__.py
  extract/keyhole_twitter/src/execute.py
  transform/snowflake-dbt/models/sources/keyhole_twitter/schema.yml
  transform/snowflake-dbt/models/sources/keyhole_twitter/sources.yml
  transform/snowflake-dbt/models/sources/keyhole_twitter/twitter_impressions.md
  transform/snowflake-dbt/models/sources/keyhole_twitter/twitter_impressions_source.sql
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove all keyhole mentions
  transform/snowflake-dbt/models/legacy/keyhole_twitter/schema.yml
  transform/snowflake-dbt/models/legacy/keyhole_twitter/twitter_impressions.sql
Due: none

Remove from tags, project, roles.
  permissions/snowflake/roles.yml
  transform/snowflake-dbt/data/valid_tags.csv
  transform/snowflake-dbt/dbt_project.yml
Due: üìÅyaml_validation, pages

Code refactoring
  dags/sales_analytics/sales_analytics_monthly_notebooks.py
  dags/sales_analytics/sales_analytics_quarterly_notebooks.py
  dags/sales_analytics/sales_analytics_weekly_notebooks.py
  sales_analytics_notebooks/monthly/big_query_etl copy 2.ipynb
  sales_analytics_notebooks/monthly/big_query_etl copy 3.ipynb
  sales_analytics_notebooks/monthly/big_query_etl copy 4.ipynb
  sales_analytics_notebooks/monthly/big_query_etl copy.ipynb
  sales_analytics_notebooks/monthly/big_query_etl.ipynb
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Change how code is generated.
  dags/extract/saas_usage_ping_backfill.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Adding zoominfo_contact_id to mart_crm_person
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_contact_source.sql
Due: none

Update dbt_image
  dags/airflow_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Limit opp snapshot model to 2020-02-01
  transform/snowflake-dbt/macros/sfdc/sfdc_opportunity_fields.sql
Due: none

Removed test notebook
  sales_analytics_notebooks/daily/x-ray_targets_from_topo_ssot.ipynb
Due: none
