Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

removes tests
  transform/snowflake-dbt/models/sources/demandbase/schema.yml
Due: none

Black reformat, return full batch upload.
  extract/bizible/src/api.py
  extract/bizible/src/main.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Correct delta.
  extract/bizible/src/api.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add minutes to output filenames
  extract/bizible/src/api.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

updates hkacmarski
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Debug final time calculation.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Suggestion from the reviewer accepted.
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Reduce chunk size.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

black.
  extract/test/test_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Correct date time math for true "scheduled" runs.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Debugging schedule.
  dags/extract/mailgun_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

remove mixed snapshot and live references from opp snapshot
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts.sql
Due: none

Adding kpi conversion rate derived fact
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fact_kpi_conversion_rates
Due: none

update audit macro
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

update scd_latest_state.sql macro
  transform/snowflake-dbt/macros/utils/scd_latest_state.sql
Due: none

Fix errors
  transform/snowflake-dbt/macros/marts/product/macro_mart_ping_instance_metric.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance_metric_monthly.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_user_request_crm_account_issue_epic.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_snapshot_vs_live.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/namespace_account_matching/wk_mart_namespace_company_account.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_edm_marts.sql
Due: none

Fix conflict
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
Due: none

Fix conflicts
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

Fix conflicts
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
  transform/snowflake-dbt/models/marts/usage_ping/usage_ping_mart_column_description.md
Due: none

Fix conflict
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

add new columns to combined touchpoint and rpt_lead_to_rev models
  transform/snowflake-dbt/models/common_mart_marketing/reports/rpt_crm_touchpoint_combined.sql
  transform/snowflake-dbt/models/common_mart_marketing/reports/rpt_sfdc_bizible_tp_opp_linear_blended.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_rev.sql
Due: none

Fix errors
  transform/snowflake-dbt/macros/marts/product/macro_mart_ping_instance_metric.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance_metric_monthly.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

Add technical account manager
  transform/snowflake-dbt/macros/marts/product/macro_mart_ping_instance_metric.sql
Due: none

Remove parent_crm_account_name
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
Due: none

Remove fields
  transform/snowflake-dbt/macros/marts/product/macro_mart_ping_instance_metric.sql
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
  transform/snowflake-dbt/macros/workspaces/pte_base_query.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_account.sql
  transform/snowflake-dbt/models/common/sensitive/dim_marketing_contact.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
Due: none

Remove fields
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance_metric_monthly.sql
  transform/snowflake-dbt/models/common_mart/schema.yml
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_product/mart_product_usage_free_user_metrics_monthly.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/mart_user_request.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_user_request_crm_account_issue_epic.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_user_request_issue_epic.sql
  transform/snowflake-dbt/models/common_mart_product/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_delta_arr_parent_month_8th_calendar_day.sql
  transform/snowflake-dbt/models/marts/pumps_sensitive/schema.yml
Due: none

Remove fields
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_delta_arr_parent_product_month_8th_calendar_day.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

Remove fields
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_jihu.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_snapshot_bottom_up.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_charge.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
Due: none

Remove fields
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_snapshot_vs_live.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_retention_parent_account.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sfdc_account.sql
Due: none

Remove fields
  transform/snowflake-dbt/models/common_prep/restricted_safe/schema.yml
  transform/snowflake-dbt/models/legacy/retention/retention_parent_account_.sql
  transform/snowflake-dbt/models/legacy/sfdc/restricted_safe/sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
Due: none

Remove fields
  transform/snowflake-dbt/models/legacy/zuora/restricted_safe/saas_charges_with_namespace_id.sql
  transform/snowflake-dbt/models/marts/arr/mart_delta_arr_parent_month.sql
Due: none

Remove Fields
  transform/snowflake-dbt/models/marts/arr/mart_delta_arr_parent_product_month.sql
  transform/snowflake-dbt/models/marts/arr/mart_delta_arr_subscription_month.sql
  transform/snowflake-dbt/models/marts/arr/mart_delta_arr_subscription_product_month.sql
  transform/snowflake-dbt/models/marts/arr/mart_discount_arr.sql
  transform/snowflake-dbt/models/marts/pumps_sensitive/pump_product_usage_free_user_metrics_monthly.sql
Due: none

Remove fields
  transform/snowflake-dbt/models/marts/usage_ping/mart_usage_ping.sql
  transform/snowflake-dbt/models/share/gitlab_user_outbound.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_arr_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_arr_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_charge_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wip_mart_charge.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_finance_mart_atr_myb_fy22_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/namespace_account_matching/wk_mart_namespace_company_account.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_account_year.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
Due: none

Debug
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add definitions
  transform/snowflake-dbt/models/sources/workday/schema.yml
Due: none
