Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

add fields to dim_behavior_event
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_event.sql
Due: none

Update sales analytics permissions
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Modify the code to run backfill.
  dags/extract/saas_usage_ping_backfill.py
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Consistency with newly release dbt image version.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/dbt_project.yml
Due: pages

update testing language
  .gitlab/issue_templates/Triage Errors AE.md
Due: none

Update naming conventions, add documentation
  transform/snowflake-dbt/models/common_mart_product/mart.md
  transform/snowflake-dbt/models/common_mart_product/mart_ping_instance_metric_gainsight_wave_self_managed.sql
  transform/snowflake-dbt/models/common_mart_product/mart_ping_namespace_metric_gainsight_wave_saas.sql
  transform/snowflake-dbt/models/common_mart_product/reports/reports.md
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_saas.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_self_managed.sql
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
  transform/snowflake-dbt/models/common_mart_product/schema.yml
  transform/snowflake-dbt/models/marts/pumps/pumps.md
Due: none

adding tags
  transform/snowflake-dbt/models/common_mart_product/mart_ping_namespace_metric_gainsight_wave_saas.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_saas.sql
  transform/snowflake-dbt/models/marts/pumps/pump_gainsight_metrics_monthly_paid.sql
Due: none

Moving zoominfo_contact_id to fct instead of dim
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_person.sql
Due: none

copying sheetload tables for tableau rls in wk sales
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_tableau_rls_roles.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_tableau_rls_users.sql
Due: none

clean up
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_tableau_rls_roles.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_tableau_rls_users.sql
Due: none

change dimension grain to url
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_experiment.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_redis_hll_counters.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_without_assignment.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_page_view.sql
Due: none

Moving custom demo logic to a map table
  transform/snowflake-dbt/models/common_mapping/map_custom_lead_demographics.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

fixing formatting
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
Due: none

fixing ref
  transform/snowflake-dbt/models/marts/pumps/pump_gainsight_metrics_monthly_paid.sql
Due: none

reorganize code to fit combine_metrics()
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add missing comma
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

update to report models
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/reports/rpt_crm_touchpoint_combined.sql
  transform/snowflake-dbt/models/common_mart_marketing/reports/rpt_sfdc_bizible_linear.sql
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_rev.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
Due: none

Add country to bamboohr_job_role
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/bamboohr_job_role.sql
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/employee_directory.sql
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/employee_directory_intermediate.sql
Due: none

Upgrade gitlabdata library version for the data-analyst image
  dags/airflow_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add retry to the Data Science dags
  dags/data_science/ds_propensity_to_contract.py
  dags/data_science/ds_propensity_to_expand.py
  dags/data_science/ds_propensity_to_purchase_trial.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

SNOWFLAKE_LOAD_USER added as a variable.
  dags/transformation/gitlab_dot_com_dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update gitlab_dotcom_protected_branch_push_access_levels_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_protected_branch_push_access_levels_source.sql
Due: none

add additional refresh config
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_link_click.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
Due: none

Update schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/schema.yml
Due: none

updating documentation and keys
  transform/snowflake-dbt/models/common_mart_product/mart.md
  transform/snowflake-dbt/models/common_mart_product/schema.yml
  transform/snowflake-dbt/models/marts/pumps/pump_gainsight_metrics_monthly_paid.sql
  transform/snowflake-dbt/models/marts/pumps/pumps.md
Due: none

Updating custom map to alternative map
  transform/snowflake-dbt/models/common_mapping/map_alternative_lead_demographics.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

add keep_valid_metric_definitions()
  dags/extract/saas_usage_ping.py
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

fix missing metric_definitions argument in keep_valid_metric_definitions()
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add dup checker for combined metrics payload
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

testing redis/sql outputs individually for debugging, need to REVERT
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Removing last SELECT DISTINCT
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

Updating table reference
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
Due: none

add merge dictionary logic
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

fix merge_dicts typo
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

changing mart model names
  transform/snowflake-dbt/models/common_mart_product/mart.md
  transform/snowflake-dbt/models/common_mart_product/mart_ping_instance_metric_health_score_self_managed.sql
  transform/snowflake-dbt/models/common_mart_product/mart_ping_namespace_metric_health_score_saas.sql
  transform/snowflake-dbt/models/common_mart_product/schema.yml
Due: none

updating refs
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_saas.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_self_managed.sql
Due: none

Add hardcoded timestamp for incremental dag
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

read from table last replica timestamp value
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
