Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Remove duplicate
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sfdc_account.sql
Due: none

migration: original files to be deprecated and the ones with EDM sources become the new base xf files
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_deprecated.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts_new.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_refactored_edm.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_deprecated.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_edm_marts.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_refactored_edm.sql
Due: none

Add prod.restricted_safe_common to the list of permissions
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Debugging.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

more fields to calculate for snapshot table instead of getting them from the mart
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
Due: none

clean up
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
Due: none

initial load
  extract/sheetload/sheets.yml
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
  transform/snowflake-dbt/models/sources/sheetload/sheetload_leading_organization_entry_dates_source.sql
  transform/snowflake-dbt/models/sources/sheetload/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/leading_organization_entry_dates.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

clean up 2
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
Due: none

Check pytest.
  extract/saas_usage_ping/usage_ping.py
  extract/test/test_saas_usage_ping_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Switch to config dict version, correct date format.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Reduce concurrency.
  dags/extract/mailgun_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test change for pipeline.
  extract/bamboohr/src/__init__.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add join condition and documentation
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric.sql
  transform/snowflake-dbt/models/common_prep/prep_ping_instance_flattened.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

adding doc
  transform/snowflake-dbt/models/common/schema.yml
Due: none

cast variable as DATE
  dags/transformation/dbt_snowplow_backfill_fct_behavior_model.py
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

force formating
  transform/snowflake-dbt/models/sources/sheetload/sheetload_leading_organization_entry_dates_source.sql
Due: none

add source tests
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
Due: none

add documentation description
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

include snapshot_hist
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_hist.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sources.yml
  transform/snowflake-dbt/snapshots/common/dim_user_snapshot.sql
Due: none

changed to snapshots
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_hist.sql
Due: none

correct tests and table names
  transform/snowflake-dbt/models/sources/google_ads/google_ads_ad_group_history_source.sql
  transform/snowflake-dbt/models/sources/google_ads/google_ads_ad_history_source.sql
  transform/snowflake-dbt/models/sources/google_ads/google_ads_ad_stats_source.sql
  transform/snowflake-dbt/models/sources/google_ads/google_ads_campaign_history_source.sql
  transform/snowflake-dbt/models/sources/google_ads/google_ads_expanded_text_ad_history_source.sql
  transform/snowflake-dbt/models/sources/google_ads/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/google_ads/google_ads.sql
Due: none

tags
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_hist.sql
Due: none

update instance/installation terminology
  transform/snowflake-dbt/models/common_mart_product/reports/reports.md
Due: none

Add spaces
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sfdc_account.sql
Due: none

Update audit
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_account.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sfdc_account.sql
Due: none

Update audit
  transform/snowflake-dbt/models/common/sensitive/dim_marketing_contact.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
Due: none

Update audits
  transform/snowflake-dbt/models/common_mart/mart_ping_instance_metric_monthly.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_product/mart_product_usage_free_user_metrics_monthly.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/mart_user_request.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_user_request_crm_account_issue_epic.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_user_request_issue_epic.sql
Due: none

Update audit
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_jihu.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_snapshot_bottom_up.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_charge.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

Update audit
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_snapshot_vs_live.sql
Due: none

Update
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_account_year.sql
Due: none

Update audit
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_retention_parent_account.sql
  transform/snowflake-dbt/models/marts/arr/mart_discount_arr.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_arr_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_arr_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_charge_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wip_mart_charge.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_finance_mart_atr_myb_fy22_snapshot.sql
Due: none

Remove line
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_account_year.sql
Due: none

updating join, adding field
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ping_instance.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

adds data_science_readonly to degan
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

adds data_science_readonly to dmicovic
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

adds data_science_readonly to jahye
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation
