Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Fixed ERROR:xenon:block "extract/saas_usage_ping/usage_ping.py:297 evaluate_saas_queries" has a rank of C
  extract/test/test_transform_postgres_to_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Undo change to branch
  dags/data_science/ds_namespace_segmentation.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

linters.
  extract/saas_usage_ping/usage_ping.py
  extract/sheetload/sheetload_dataframe_utils.py
  extract/test/test_saas_usage_ping_extract.py
  extract/test/test_transform_postgres_to_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Testing linter.
  extract/saas_usage_ping/usage_ping.py
  extract/test/test_transform_postgres_to_snowflake.py
  extract/test/test_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

flake8 fixing.
  extract/saas_usage_ping/usage_ping.py
  extract/sheetload/sheetload_dataframe_utils.py
  extract/test/test_saas_usage_ping_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

test
  extract/saas_usage_ping/usage_ping.py
  orchestration/test/test_big_query_client.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Imporve testing and add more routines to utils.
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
  extract/saas_usage_ping/usage_ping.py
  extract/saas_usage_ping/utils.py
  extract/test/test_saas_usage_ping_extract.py
  extract/test/test_transform_postgres_to_snowflake.py
  extract/test/test_utils.py
  orchestration/test/test_big_query_client.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Correct grants.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Correct grants, debugging lines.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Correct yaml.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Correct move.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add routine for new column LOAD_METADATA.
  extract/saas_usage_ping/usage_ping.py
  extract/saas_usage_ping/utils.py
  extract/test/test_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Testing linter.
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
  extract/saas_usage_ping/usage_ping.py
  extract/test/test_saas_usage_ping_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add seed operation.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Fixed test case for usage_ping.py
  extract/test/test_saas_usage_ping_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

MD5 extracted to utils.
  extract/saas_usage_ping/usage_ping.py
  extract/saas_usage_ping/utils.py
  extract/test/test_saas_usage_ping_extract.py
  extract/test/test_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add incremental_backfill_date variable to structured events
  transform/snowflake-dbt/models/legacy/snowplow/month_partition/base/snowplow_unnested_events.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
Due: none

add incremental_backfill_date variable to unstructured events
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
Due: none

Merge master, sort out merge conflicts
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

Modify permissions for the data science loader role
  dags/data_science/ds_namespace_segmentation.py
  permissions/snowflake/roles.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation

change primary keys
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
Due: none

increase to 5
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

Merge master changes
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

Add sfdc ids and type to source model
  transform/snowflake-dbt/models/sources/marketo/marketo_lead_source.sql
Due: none

Add marketo_lead_id to pre_crm_person
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

Add to person dim, marts and touchpoints
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
Due: none

Fix compile error
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

first iteration
  transform/snowflake-dbt/models/common_mart_product/reports/reports.md
  transform/snowflake-dbt/models/common_mart_product/reports/reports_columns.md
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
Due: none

revert to prod version of reports.md
  transform/snowflake-dbt/models/common_mart_product/reports/reports.md
Due: none

incorporate first last feedback
  transform/snowflake-dbt/models/common_mart_product/reports/reports_columns.md
Due: none

update reports_columns.md
  transform/snowflake-dbt/models/common_mart_product/reports/reports_columns.md
Due: none

common_columns update
  transform/snowflake-dbt/models/common/common_columns.md
Due: none

update schema.yml
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
Due: none

Update meta data
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

fix compile error
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
Due: none

Move file
  transform/snowflake-dbt/models/legacy/sheetload/sheetload_ga360_custom_dimensions.sql
Due: none

fix small readme typo
  extract/postgres_pipeline/README.md
Due: none

Update sheetload_ga360_customdimensions.sql
  transform/snowflake-dbt/models/sources/sheetload/sheetload_ga360_customdimensions.sql
Due: none

initial change to dim_ping_instance
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ping_instance.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
