Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

remove previous is_current logic
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

adds ncregan
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

exclude six_hourly tag from daily DAG
  dags/transformation/dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add sales segment
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_jihu.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_snapshot_bottom_up.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_charge.sql
Due: none

Remove duplicate
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
Due: none

ADd sales segment
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
  transform/snowflake-dbt/models/marts/arr/mart_discount_arr.sql
Due: none

Add sales segment
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_finance_mart_atr_myb_fy22_snapshot.sql
Due: none

Add sales segment
  transform/snowflake-dbt/models/marts/usage_ping/mart_usage_ping.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_arr_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_arr_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_charge_central_sandbox.sql
Due: none

ADd missing fields
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_jihu.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_snapshot_bottom_up.sql
Due: none

Add missing fields
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_charge.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_arr_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_charge_central_sandbox.sql
Due: none

Add missing fields
  transform/snowflake-dbt/macros/marts/product/macro_mart_ping_instance_metric.sql
  transform/snowflake-dbt/models/common/sensitive/dim_marketing_contact.sql
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance_metric_monthly.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/mart_arr_api_sandbox.sql
Due: none

Update group by
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance_metric_monthly.sql
  transform/snowflake-dbt/models/marts/arr/mart_discount_arr.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/data/projects_part_of_product.csv
Due: none

first draft
  transform/snowflake-dbt/selectors.yml
Due: pages

adding filter to snapshot
  transform/snowflake-dbt/snapshots/workday/workday_employee_mapping_snapshots.sql
Due: none

add regex for MR detail
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
Due: none

add regex for Issue detail
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
Due: none

add selector build ci job
  transform/snowflake-dbt/selectors.yml
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

adding fields to select
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_releases_dedupe_source.sql
Due: none

Optimize the model.
  transform/snowflake-dbt/models/common_prep/prep_usage_ping_free_user_metrics.sql
Due: none

improve clarity of filter
  transform/snowflake-dbt/snapshots/workday/workday_employee_mapping_snapshots.sql
Due: none

xf model source migration from legacy to EDM
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_deprecated.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_new.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_deprecated.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_new.sql
Due: none

Start optimization process.
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric.sql
Due: none

update fct_behavior_unstructured_event to use referrer id from view
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
Due: none

specifying aliases
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_releases_dedupe_source.sql
Due: none

init dag
  dags/extract/clari_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

remove ae fusion roles
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Optimise models.
  transform/snowflake-dbt/models/common_prep/prep_usage_ping_subscription_mapped.sql
Due: none

fix surrogate key for referrer
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/prep_snowplow_unnested_events_all.sql
Due: none

Modify data types
  transform/snowflake-dbt/models/sources/data_science/namespace_segmentation_scores_source.sql
Due: none

clean up get_quarter logic
  dags/extract/clari_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

default args
  dags/extract/clari_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Redirect sales analytics error messages towards new channel
  dags/airflow_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

one task only
  dags/extract/clari_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

dummy operator
  dags/extract/clari_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

clean up and simplification of selectors
  transform/snowflake-dbt/selectors.yml
Due: pages

Accepted suggestions from the code reviewer.
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
  extract/saas_usage_ping/usage_ping.py
  extract/saas_usage_ping/utils.py
  extract/test/test_saas_usage_ping_extract.py
  extract/test/test_transform_postgres_to_snowflake.py
  extract/test/test_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Run Lintr
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_hist.sql
Due: none

check list
  transform/snowflake-dbt/snapshots/common/dim_user_snapshot.sql
Due: none

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
