Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

updateing format
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_merge_request_predictions_source.sql
Due: none

adding comma
  transform/snowflake-dbt/models/legacy/smau_events/snowplow_smau_pageviews_events/monitor_snowplow_smau_pageviews_events.sql
Due: none

revert logic- simply add acctg_type as it is too difficult to fix dbt meta data
  transform/snowflake-dbt/snapshots/zuora_revenue/zuora_revenue_revenue_contract_schedule_snapshots.sql
Due: none

remove partition parameter
  extract/gcs_external/src/gcp_billing/gcs_external.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

remove partition parameter
  extract/gcs_external/src/gcp_billing/gcs_external.yml
Due: none

update snapshot vs live to automate column additions and move xf model to use snapshot vs live model
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_snapshot_vs_live.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts.sql
Due: none

Extract and test utils library.
  extract/saas_usage_ping/usage_ping.py
  extract/saas_usage_ping/usage_ping_utils.py
  extract/saas_usage_ping/utils.py
  extract/test/test_usage_ping_utils.py
  extract/test/test_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Extract and test utils library.
  extract/test/test_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Try one line if.
  .gitlab-ci.yml
Due: none

Extract and test utils library.
  .gitlab-ci.yml
  extract/test/test_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Multiline if.
  .gitlab-ci.yml
Due: none

Remove script.
  .gitlab-ci.yml
Due: none

Retest script.
  .gitlab-ci.yml
Due: none

Test one line version again.
  .gitlab-ci.yml
Due: none

Add quotes.
  .gitlab-ci.yml
Due: none

Syntax.
  .gitlab-ci.yml
Due: none

Return prep db.
  .gitlab-ci.yml
Due: none

Retest first commit trigger.
  .gitlab-ci.yml
Due: none

Correct syntax.
  .gitlab-ci.yml
Due: none

Add file to sheets
  extract/sheetload/sheets.yml
Due: none

Add new table
  transform/snowflake-dbt/models/sources/sheetload/sources.yml
Due: none

Update transform/snowflake-dbt/models/sources/sheetload/sheetload_ga360_customdimensions.sql
  transform/snowflake-dbt/models/sources/sheetload/sheetload_ga360_customdimensions.sql
Due: none

Update transform/snowflake-dbt/models/sources/sheetload/schema.yml
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
Due: none

Add a new file for the model in staging.sheetload
  transform/snowflake-dbt/models/legacy/sheetload/restricted_safe/sheetload_ga360_customdimensions.sql
Due: none

Update transform/snowflake-dbt/models/legacy/sheetload/schema.yml
  transform/snowflake-dbt/models/legacy/sheetload/schema.yml
Due: none

Update sheetload_ga360_customdimensions.sql
  transform/snowflake-dbt/models/legacy/sheetload/restricted_safe/sheetload_ga360_custom_dimensions.sql
Due: none

Update schema.yml
  transform/snowflake-dbt/models/legacy/sheetload/schema.yml
Due: none

Return move.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Return manual job.
  .gitlab-ci.yml
Due: none

Typo.
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Modify dag name for Slack notifications
  dags/airflow_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

adds hkacmarski
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

adds jbudreski
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Temprorarily clone non main branch from namespace segmentation
  dags/airflow_utils.py
  dags/data_science/ds_namespace_segmentation.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
