Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Work out first line for replacing DB's only.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Moved partial parsing to CI.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add grants queries.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Correct yaml.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Remove debugging, cleanup.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

correct filter column
  transform/snowflake-dbt/models/workspaces/workspace_engineering/gcp_billing_test/test_gcp_billing_source.sql
Due: none

Extra grants.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Variable corrections.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

refactorting opp xf edm mart
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_edm_marts.sql
Due: none

Change grant types for DBT objects.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

wrong id for joining upa
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_edm_marts.sql
Due: none

remove column attributes
  transform/snowflake-dbt/models/sources/gcp_billing/sources.yml
Due: none

Initial commit for fct_behavior_website_link_click
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_link_click.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/prep_snowplow_unstructured_events_all.sql
Due: none

add dbt task
  dags/extract/external_gcp_billing.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Use IS NOT DISTINCT FROM
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_event_plan_monthly.sql
Due: none

correct deps
  dags/extract/external_gcp_billing.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add load target
  dags/extract/external_gcp_billing.py
  transform/snowflake-dbt/profile/profiles.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

edit
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_event_plan_monthly.sql
Due: none

Add AS
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_event_plan_monthly.sql
Due: none

remoce load target
  dags/extract/external_gcp_billing.py
  transform/snowflake-dbt/profile/profiles.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add permissions
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

update macro
  transform/snowflake-dbt/macros/sfdc/sfdc_opportunity_fields.sql
Due: none

python compliance
  dags/extract/external_gcp_billing.py
  extract/gcs_external/src/gcp_billing/gcs_external.py
  orchestration/big_query_client.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

python compliance
  extract/gcs_external/src/gcp_billing/gcs_external.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

update times
  dags/extract/external_gcp_billing.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

disable models
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_experiment.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_redis_hll_counters.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_without_assignment.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
Due: none

include all app_ids and filter for 25 months
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_link_click.sql
Due: pages

add unique_key
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_link_click.sql
Due: none

sk to pk
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_link_click.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
Due: none

Switch grant types around.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

fix join to dim_behavior_website_page
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_link_click.sql
Due: none

add usage notes to dim_behavior_website_page
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
Due: none

formatting
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_link_click.sql
Due: none

formatting
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_event.sql
Due: none

Black reformat.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Black reformat.
  dags/data_science/ds_propensity_to_contract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Flake8 cleanup.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Pylint cleanup.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

New image version tags.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages
