Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

remove timeline section
  .gitlab/issue_templates/Incident Report.md
Due: none

fix model name
  transform/snowflake-dbt/models/common_prep/prep_subscription.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

syntax
  transform/snowflake-dbt/models/common_prep/prep_subscription.sql
Due: none

Updating join ref
  transform/snowflake-dbt/models/common_mart_marketing/reports/rpt_sfdc_bizible_linear.sql
Due: none

update min max logic
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
Due: none

add date spine
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_saas.sql
Due: none

remove url fragment
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
Due: none

adds warias
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Apply 1 suggestion(s) to 1 file(s)
  extract/gitlab_flaky_tests/upload.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

dim_user_snapshot intial
  transform/snowflake-dbt/snapshots/common/dim_user_snapshot.sql
Due: none

Add logic to handle Airflow start time.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add SSL error handling.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add agent chart and cluster-integration
  transform/snowflake-dbt/data/projects_part_of_product.csv
Due: none

Initial notebook dag structure
  .gitlab/issue_templates/Scheduling Notebook Request.md
  dags/airflow_utils.py
  dags/data_science/ds_namespace_segmentation.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add dbt models
  transform/snowflake-dbt/models/sources/data_science/data_science.md
  transform/snowflake-dbt/models/sources/data_science/namespace_segmentation_scores_source.sql
  transform/snowflake-dbt/models/sources/data_science/schema.yml
  transform/snowflake-dbt/models/sources/data_science/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_data_science/namespace_segmentation/namespace_segmentation_scores.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/schema.yml
Due: none

Remove dim_crm_account_daily_snapshot
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

remove line about testing is_integration_user
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Update field name
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Add table to schema
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/schema.yml
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/workday_terminations.sql
Due: none

change sk
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_unstructured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_website_page_view.sql
Due: none

Moving prep model into a CTE within First_Last
  transform/snowflake-dbt/models/common_mart_product/marts/mart_ping_metric_first_last_versions.sql
  transform/snowflake-dbt/models/common_prep/prep_ping_metric_first_last_versions.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

remove duplicate column
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
Due: none

Moving back to rpt
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_metric_first_last_versions.sql
Due: none

split macro into two models
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

add columns to dim_crm_account
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
Due: none

Update select table, add triple quotes.
  extract/pmg/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Correct for new column names.
  extract/pmg/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Return missing quotes.
  extract/pmg/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Alias columns to previous version.
  extract/pmg/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Flake8
  extract/pmg/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Black reformat.
  extract/pmg/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Updates ACOHEN
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Modify dag schedule
  dags/data_science/ds_namespace_segmentation.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add missing column
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
Due: none

Pre strip column names.
  extract/sheetload/sheetload_dataframe_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Change model to check against with
  transform/snowflake-dbt/models/sources/sfdc/schema.yml
Due: none

Renamed the models
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_event_xmau_metric_monthly_snapshot_model.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_metric_totals_w_estimates_monthly_snapshot_model.sql
Due: none

remove missing cols from select
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_case.sql
Due: none

add case to sfdc/sources.yml
  transform/snowflake-dbt/models/sources/sfdc/sources.yml
Due: none

initial case model
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_case.sql
Due: none

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
