Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Removing duplication
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

updating column name
  transform/snowflake-dbt/models/common_mart_marketing/reports/rpt_sfdc_bizible_tp_opp_linear_blended.sql
Due: none

Duplicate columns
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

Removing AS
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

fixing punctuation
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

Removing duplicate columns
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

use zqu_quote_id as dim_quote_id
  transform/snowflake-dbt/macros/sfdc/sfdc_opportunity_fields.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_quote.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_quote_item.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_quote.sql
Due: none

retains Thomas La Piana talk
  .gitlab/issue_templates/Data Onboarding.md
Due: none

change interval back to month
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
Due: none

Removing PMG from the blended model
  transform/snowflake-dbt/models/common_mart_marketing/reports/rpt_sfdc_bizible_tp_opp_linear_blended.sql
Due: none

Add namespace segmentation to boneyard
  extract/sheetload/boneyard/sheets.yml
Due: none

Removing touchpoint source type field
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

merge with master
  transform/snowflake-dbt/models/common/sensitive/bdg_marketing_contact_role.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/scd/gitlab_dotcom_jira_connect_installations_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/scd/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_data_science/model_mart_crm_account_id.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_fct_ping_instance_metric_none.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_fct_ping_instance_metric_null.sql
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

change to week, add stop date to limit amount
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
Due: none

commit to master
  dags/airflow_utils.py
  dags/extract/gitlab_dbs_extract_load.py
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Removing duplicate column
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

materialize dimensions as tables
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_browser.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_operating_system.sql
Due: none

added recursive functions
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

fix missing parenthesis
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_browser.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_operating_system.sql
Due: none

Removing redundant "last_initial_mql_date"
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_person.sql
Due: none

update python syntax :: error
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

create combined touchpoints mart
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint_combined.sql
Due: none

create mart lead to rev
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_lead_to_revenue.sql
Due: none

Add jira_connect_subscriptions table to PG pipeline.
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

Add jira_connect_subscriptions model to gitlab_dotcom.
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_jira_connect_subscriptions_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
Due: none

Switch to regular json input, debug new output.
  orchestration/manage_snowflake.py
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, pages

Debugging.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add sort list by length of dependencies.
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Debugging.
  orchestration/manage_snowflake.py
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, pages

Debugging.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages
