Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Correct run schedule.
  dags/transformation/dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Correct run schedule, evaluation schedule.
  dags/transformation/dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

adapting to channel to partner value changes in wk sales
  sales_analytics_notebooks/daily/coverage_curves_simplified_v20221028_Rigerta.ipynb
  sales_analytics_notebooks/daily/qtr_metrics_by_day_channel.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_account_year.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_deprecated.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_deprecated.sql
Due: none

adjust drop policy for databases
  orchestration/drop_snowflake_objects.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

adds marketo role to jkim
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

adds marketo role to nfiguera
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Adjust schedules
  dags/transformation/dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove start date.
  dags/transformation/dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test star schedule, add better comments & declare separate variable.
  dags/transformation/dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Finalise schedules.
  dags/transformation/dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

linting
  dags/extract/clari_extract_daily.py
  dags/extract/clari_extract_quarterly.py
  extract/clari/src/clari.py
  extract/test/test_clari_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

mypy linting
  extract/clari/src/clari.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test using airflow start and end dates.
  dags/extract/mailgun_extract.py
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add cronitor output.
  dags/extract/mailgun_extract.py
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add note about GitLab dedicated
  transform/snowflake-dbt/models/common/common_columns.md
Due: none

updating field description
  transform/snowflake-dbt/models/common/common_columns.md
Due: none

rename folder
  extract/sheetload/drives.yml
Due: none

Update file schema.yml
  transform/snowflake-dbt/models/legacy/bamboohr/xf/schema.yml
Due: none

correct formatting
  transform/snowflake-dbt/models/legacy/bamboohr/xf/schema.yml
Due: none

all incremental prep models
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/clari/net_arr_entries_source.sql
  transform/snowflake-dbt/models/sources/clari/net_arr_fields_source.sql
  transform/snowflake-dbt/models/sources/clari/net_arr_time_frames_source.sql
  transform/snowflake-dbt/models/sources/clari/net_arr_time_periods_source.sql
  transform/snowflake-dbt/models/sources/clari/net_arr_users_source.sql
  transform/snowflake-dbt/models/sources/clari/schema.yml
  transform/snowflake-dbt/models/sources/clari/sources.yml
Due: pages

update entries surrogate id and fix json key capitilization errors
  transform/snowflake-dbt/models/sources/clari/net_arr_entries_source.sql
  transform/snowflake-dbt/models/sources/clari/schema.yml
Due: none

Alter macro with new column LICENSE_SHA256.
  transform/snowflake-dbt/macros/marts/product/macro_mart_ping_instance_metric.sql
Due: none

Add to schema
  transform/snowflake-dbt/models/sources/workday/schema.yml
Due: none

correct syntax
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_user_preferences_source.sql
Due: none

Improve code with better performance.
  transform/snowflake-dbt/macros/marts/product/macro_mart_ping_instance_metric.sql
Due: none

Add documentation
  transform/snowflake-dbt/models/sources/workday/sources.yml
  transform/snowflake-dbt/models/sources/workday/workday_source_descriptions.md
Due: none

Add sup org snapshot
  transform/snowflake-dbt/snapshots/workday/workday_supervisory_org_snapshots
  transform/snowflake-dbt/snapshots/workday/workday_supervisory_org_snapshots.sql
Due: none

Modified macro to add sha256 column
  transform/snowflake-dbt/macros/marts/product/macro_mart_ping_instance_metric.sql
Due: none

Alter model with new column LICENSE_SHA256.
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_wave.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_product/mart_ping_instance_metric_health_score_self_managed.sql
  transform/snowflake-dbt/models/legacy/version/xf/schema.yml
  transform/snowflake-dbt/models/legacy/version/xf/version_usage_data_weekly_opt_in_summary.sql
Due: none

Apply suggestions from the code reviewer.
  transform/snowflake-dbt/macros/marts/product/macro_mart_ping_instance_metric.sql
Due: none

Fake change to force pipeline.
  transform/snowflake-dbt/models/common_mart/mart_ping_instance_metric_7_day.sql
Due: none

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
