Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Add template for source table name
  .gitlab/issue_templates/Scheduling Notebook Request.md
Due: none

Adding Admin Manual override fields to mart_crm_opportunity
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
Due: none

updated bob models
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_account_year.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_upa_year.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_deltas.sql
Due: none

Adding fields to sfdc_account_fields
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/data/projects_part_of_product.csv
Due: none

Add Persona Title Matrix to DBT
  transform/snowflake-dbt/macros/common/title_personas.sql
  transform/snowflake-dbt/models/common_mapping/map_person_persona
Due: none

Remove unused file.
  transform/snowflake-dbt/models/common_mapping/map_person_persona
Due: none

Update Syntax
  transform/snowflake-dbt/macros/common/title_personas.sql
Due: none

Adding fields to mart and snapshot sources
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
Due: none

Update is_current to boolean
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

add logic to alert on missing metrics only once a month
  extract/saas_usage_ping/usage_ping.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Snapshot Model Logic update
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_event_xmau_metric_monthly_snapshot_model.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_metric_totals_w_estimates_monthly_snapshot_model.sql
Due: none

Updated tags
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_event_xmau_metric_monthly_snapshot_model.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_metric_totals_w_estimates_monthly_snapshot_model.sql
Due: none

updates to prep_crm_opp
  .gitlab/merge_request_templates/dbt Model Changes.md
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_opportunity.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

Adds zendesk to MCOOPER
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

adds orgadmin to dvanrooijen
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

remove not_null user_id test
  transform/snowflake-dbt/models/legacy/smau_events/gitlab_dotcom_smau_events/schema.yml
Due: none

add column ref back in
  transform/snowflake-dbt/models/legacy/smau_events/gitlab_dotcom_smau_events/schema.yml
Due: none

Add new test job.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Script
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add artifact dependencies.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Debug.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

More specific path
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Remove experiments and experiment_subjects tables from the Postgres pipeline.
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none

Change ci image.
  .gitlab-ci.yml
Due: none

black
  extract/postgres_pipeline/test/__init__.py
  extract/sheetload/google_sheets_client.py
  extract/sheetload/qualtrics_sheetload.py
  orchestration/test/__init__.py
  orchestration/test/test_reduce_file_size.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

black
  extract/sheetload/google_sheets_client.py
  extract/sheetload/qualtrics_sheetload.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

black
  extract/postgres_pipeline/test/test_manifest_decomposed.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

remove table experiment_subjects from trusted data module
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_trusted_data_extract_load_db_manifest.yaml
Due: none

Save changes
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_bottom_up
Due: none

update test for run_metric_checks()
  extract/saas_usage_ping/usage_ping.py
  extract/test/test_saas_usage_ping_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Edited the config section
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_event_xmau_metric_monthly_snapshot_model.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_metric_totals_w_estimates_monthly_snapshot_model.sql
Due: none

hardcoding fields that won't change
  transform/snowflake-dbt/models/sources/saas_usage_ping/instance_combined_metrics.sql
Due: none

new agg key testing wk sales opp models
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_agg_demo_sqs_ot_rt_keys.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_opportunity_metrics_qtd_test_new_key.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_edm_marts.sql
Due: none

Test converting to varchar.
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/masked_merge_requests.sql
Due: none

Upgrade image to V1.0.16
  .gitlab-ci.yml
Due: none
