Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

adds data_science_readonly to jahye
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

force formating
  transform/snowflake-dbt/models/sources/sheetload/sheetload_leading_organization_entry_dates_source.sql
Due: none

adds data_science_readonly to degan
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

initial load
  extract/sheetload/sheets.yml
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
  transform/snowflake-dbt/models/sources/sheetload/sheetload_leading_organization_entry_dates_source.sql
  transform/snowflake-dbt/models/sources/sheetload/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/leading_organization_entry_dates.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

further refactoring of the new snapshot table and reverting changes to the original files
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_deprecated.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_new.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_deprecated.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_new.sql
Due: none

add source tests
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
Due: none

Add file to sheets
  extract/sheetload/sheets.yml
Due: none

incorrect cte for is eligible open pipe flag
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_new.sql
Due: none

Update roles.yml
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

migration: original files to be deprecated and the ones with EDM sources become the new base xf files
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_deprecated.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts_new.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_refactored_edm.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_deprecated.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_edm_marts.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_refactored_edm.sql
Due: none

more fields to calculate for snapshot table instead of getting them from the mart
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
Due: none

booked_net_arr calculation in snapshot opp
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts_new.sql
Due: none

correct tests and table names
  transform/snowflake-dbt/models/sources/google_ads/google_ads_ad_group_history_source.sql
  transform/snowflake-dbt/models/sources/google_ads/google_ads_ad_history_source.sql
  transform/snowflake-dbt/models/sources/google_ads/google_ads_ad_stats_source.sql
  transform/snowflake-dbt/models/sources/google_ads/google_ads_campaign_history_source.sql
  transform/snowflake-dbt/models/sources/google_ads/google_ads_expanded_text_ad_history_source.sql
  transform/snowflake-dbt/models/sources/google_ads/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/google_ads/google_ads.sql
Due: none

clean up 2
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
Due: none

Add new table
  transform/snowflake-dbt/models/sources/sheetload/sources.yml
Due: none

table alias mistakes
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_new.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_new.sql
Due: none

adds data_science_readonly to dmicovic
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Update sheetload_ga360_customdimensions.sql
  transform/snowflake-dbt/models/legacy/sheetload/restricted_safe/sheetload_ga360_custom_dimensions.sql
Due: none

Add a new file for the model in staging.sheetload
  transform/snowflake-dbt/models/legacy/sheetload/restricted_safe/sheetload_ga360_customdimensions.sql
Due: none

Update transform/snowflake-dbt/models/legacy/sheetload/schema.yml
  transform/snowflake-dbt/models/legacy/sheetload/schema.yml
Due: none

Update schema.yml
  transform/snowflake-dbt/models/legacy/sheetload/schema.yml
Due: none

Update sheetload_ga360_customdimensions.sql
  transform/snowflake-dbt/models/sources/sheetload/sheetload_ga360_customdimensions.sql
Due: none

Move file
  transform/snowflake-dbt/models/legacy/sheetload/sheetload_ga360_custom_dimensions.sql
Due: none

case sensitivity
  transform/snowflake-dbt/models/sources/sheetload/sheetload_ga360_customdimensions.sql
Due: none

change names
  transform/snowflake-dbt/models/sources/sheetload/sheetload_ga360_customdimensions.sql
Due: none

Update name
  transform/snowflake-dbt/models/sources/sheetload/sheetload_ga360_custom_dimensions.sql
Due: none

Update dags/sources/source_zuora_validation_and_run.py
  dags/sources/source_zuora_validation_and_run.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update dags/transformation/dbt_snapshot.py
  dags/transformation/dbt_snapshot.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Trim pipes from merged ids
  transform/snowflake-dbt/models/sources/zoominfo/zi_comp_with_linkages_global_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/zoominfo/schema.md
Due: none

Update dags/transformation/dbt.py
  dags/transformation/dbt.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update dags/transformation/dbt_snowplow_backfill.py
  dags/transformation/dbt_snowplow_backfill.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update dags/transformation/dbt_trusted_data.py
  dags/transformation/dbt_trusted_data.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

adds ncregan
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Remove spaces
  transform/snowflake-dbt/models/sources/zoominfo/zi_comp_with_linkages_global_source.sql
Due: none

Update dags/transformation/dbt_datasiren.py
  dags/transformation/dbt_datasiren.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update dags/extract/sheetload.py
  dags/extract/sheetload.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
