Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

add source to sources.yml
  transform/snowflake-dbt/models/sources/driveload/sources.yml
Due: none

add description and workspace model
  transform/snowflake-dbt/models/sources/driveload/driveload_booking_to_billing_monthly_reconciliation_source.sql
  transform/snowflake-dbt/models/sources/driveload/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_booking_to_billing_monthly_reconciliation.sql
Due: none

adds cleroux
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Adds caitlin
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

adds ddeng
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

adds srehm
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

add model to schema
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

need snapshots
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_bottom_up.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

fix model name in schema
  transform/snowflake-dbt/models/sources/driveload/schema.yml
Due: none

Include changes following discussion with Melia
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_base_clean.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
Due: none

save files
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_bottom_up.sql
  transform/snowflake-dbt/models/sources/customers/customers_db_leads_snapshots_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_identities_snapshots_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_user_details_snapshots_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_user_preferences_snapshots_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_users_snapshots_source.sql
Due: none

Remove uniqueness tests from structured events and unnested events since they are timing out
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
Due: none

updates to bring both queries into alignment
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_snapshot_vs_live.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
  transform/snowflake-dbt/models/legacy/sfdc/restricted_safe/sfdc_accounts_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_edm_marts.sql
Due: none

Adds dgupta
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Add documentation for new source and prep model
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
Due: none

Snapshot Tables found by Model
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_bottom_up.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sources.yml
Due: none

Create report and add tests
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_arr_no_manual_adjustment_for_sfdc_reconciliation.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

Add missing final parentheses
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_arr_no_manual_adjustment_for_sfdc_reconciliation.sql
Due: none

testing masking policy.
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/masked_merge_requests.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
Due: none

Add user id to cluster agent tables
  transform/snowflake-dbt/models/common_prep/prep_cluster_agent.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_cluster_agents_source.sql
Due: none

Create ultimate version of model
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_account_ultimate.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/schema.yml
Due: none

Fix cte name
  transform/snowflake-dbt/models/common_prep/month_partition/prep_event.sql
Due: none

Addd created_date_id to cluster_agent model
  transform/snowflake-dbt/models/common_prep/prep_cluster_agent.sql
Due: none

adds nmcavinue
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Backfill final data feeds.
  dags/extract/mailgun_backfill.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update roles.yml
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

mods during testing
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_bottom_up.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_users_snapshots_source.sql
Due: none

Add plan_id to prep cluster agent model
  transform/snowflake-dbt/models/common_prep/prep_cluster_agent.sql
Due: none

fix incremental syntax
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/rpt_product_navigation.sql
Due: none

Additional fields for L2R models
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

additional fields to mart_crm_opportunity
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

add qualified name back in
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/rpt_product_navigation.sql
Due: none

Add cancelled date and sfdc_entity to common models
  transform/snowflake-dbt/models/common/dimensions_shared/dim_billing_account.sql
  transform/snowflake-dbt/models/common/dimensions_shared/dim_billing_account_snapshot_bottom_up.sql
  transform/snowflake-dbt/models/common/dimensions_shared/dim_subscription.sql
  transform/snowflake-dbt/models/common/dimensions_shared/dim_subscription_snapshot_bottom_up.sql
  transform/snowflake-dbt/models/common_prep/prep_subscription.sql
Due: none

fix spelling mistake
  transform/snowflake-dbt/models/common/dimensions_shared/dim_billing_account_snapshot_bottom_up.sql
Due: none

add toy_marketing spreadsheet
  extract/sheetload/sheets.yml
Due: none

Adding record_type_name
  transform/snowflake-dbt/macros/sfdc/sfdc_opportunity_fields.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_opportunity.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
Due: none

Add new product_category
  transform/snowflake-dbt/macros/zuora/product_category.sql
Due: none

add single option
  dags/general/pumps.py
  pump/pumps.py
  pump/pumps.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

updates to xf model and edm xf model to bring snapshots into alignment
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/legacy/sfdc/restricted_safe/sfdc_opportunity_snapshot_history.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts.sql
Due: none
