Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Smarter conditional
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

move models up a level as month_partition is for dotcom events
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/common_prep/snowplow/schema.yml
  transform/snowflake-dbt/models/common_prep/snowplow/snowplow.month_partition.md
  transform/snowflake-dbt/models/common_prep/snowplow/snowplow_duplicate_events.sql
  transform/snowflake-dbt/models/common_prep/snowplow/snowplow_gitlab_bad_events.sql
  transform/snowflake-dbt/models/common_prep/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/snowplow/snowplow_gitlab_events_experiment_contexts.sql
  transform/snowflake-dbt/models/common_prep/snowplow/snowplow_gitlab_events_standard_context.sql
  transform/snowflake-dbt/models/common_prep/snowplow/snowplow_gitlab_events_web_page_id.sql
  transform/snowflake-dbt/models/common_prep/snowplow/snowplow_unnested_errors.sql
  transform/snowflake-dbt/models/common_prep/snowplow/snowplow_unnested_events.sql
  transform/snowflake-dbt/models/common_prep/snowplow/snowplow_web_events.sql
Due: pages

metrics summary account year using order type stamped instead of live
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_account_year.sql
Due: none

move dotcom_usage_events to subfolder to allow for distinct schemas
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/common_prep/month_partition/dotcom_usage_events/month_partition.md
  transform/snowflake-dbt/models/common_prep/month_partition/dotcom_usage_events/prep_event.sql
  transform/snowflake-dbt/models/common_prep/month_partition/dotcom_usage_events/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow.month_partition.md
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_duplicate_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_bad_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_contexts.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_standard_context.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_web_page_id.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_unnested_errors.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_unnested_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_web_events.sql
Due: pages

updateing dbt-image
  .gitlab-ci.yml
  dags/airflow_utils.py
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, pages

remove line lenght limit
  transform/snowflake-dbt/.sqlfluff
Due: pages

add mock table for testing
  transform/snowflake-dbt/analysis/data_team/sql_style_mock_table.sql
Due: none

include lint test on changed analysis
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

ci job in manage_snowflake.py
  .gitlab-ci.yml
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

ci job in manage_snowflake.py
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

change when periscope check runs
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

update audit
  transform/snowflake-dbt/models/common/dimensions_shared/dim_date.sql
  transform/snowflake-dbt/models/common_prep/prep_date.sql
Due: none

Adding Ramping Quota to User table and dim
  transform/snowflake-dbt/macros/sfdc/sfdc_user_fields.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_users_source.sql
Due: none

Update sfdc_users_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_users_source.sql
Due: none

restore user lmai
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Adding fact conversion rates
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fact_kpi_conversion_rates
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_kpi_conversion_rates.sql
Due: none

add user role type and name
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Add fields
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

remove test fields in prep model
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

Remove space
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Add field
  transform/snowflake-dbt/models/sources/workday/workday_supervisory_organizations_source.sql
Due: none

Add field
  transform/snowflake-dbt/models/sources/workday/schema.yml
Due: none

Fix valid to and valid from
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/dim_team.sql
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/schema.yml
Due: none

Debugging
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Switch to using last page token value.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add wait on empty continuous data set
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove final page token
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Better logs
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Clean up first request structure.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Extend wait time.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove debugging line.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Black reformat.
  extract/mailgun/src/execute.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Switch date parsing routine
  extract/bizible/src/main.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove unused imports, flake8 cleanup.
  extract/bizible/src/api.py
  extract/bizible/src/main.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Correct data type.
  extract/bizible/src/api.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Apply 1 suggestion(s) to 1 file(s)
  dags/extract/bizible_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Added new table project_domains
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none

set geo columns to null in source view
  transform/snowflake-dbt/models/sources/snowplow/snowplow_gitlab_good_events_source.sql
Due: none

set geo columns to null in sample script
  orchestration/events_sample.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
