Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Update name, correct module.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Correct module call.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add access token.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Try different token.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Remove token.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Test different versions of refs.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

alias fields
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_browser.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/prep_snowplow_unnested_events_all.sql
Due: none

remove montecarlo config
  dags/transformation/dbt_six_hourly.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

adding testing and documentation
  transform/snowflake-dbt/models/sources/saas_usage_ping/instance_combined_metrics.sql
  transform/snowflake-dbt/models/sources/saas_usage_ping/saas_usage_ping.md
  transform/snowflake-dbt/models/sources/saas_usage_ping/schema.yml
Due: none

adding ping_type field
  transform/snowflake-dbt/models/sources/saas_usage_ping/instance_combined_metrics.sql
Due: none

Alias export date and add session_date
  transform/snowflake-dbt/models/legacy/google_analytics_360/intermediate/ga360_session_hit.sql
  transform/snowflake-dbt/models/sources/google_analytics_360/ga360_session_hit_source.sql
  transform/snowflake-dbt/models/sources/google_analytics_360/ga360_session_source.sql
Due: none

changing commented out fields to null
  transform/snowflake-dbt/models/sources/saas_usage_ping/instance_combined_metrics.sql
Due: none

Adding nullif for division by 0
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
Due: none

Remove line
  transform/snowflake-dbt/models/legacy/google_analytics_360/intermediate/ga360_session_hit.sql
Due: none

accidentally deleted aliases
  transform/snowflake-dbt/models/sources/saas_usage_ping/instance_combined_metrics.sql
Due: none

adjust filtering
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/bamboohr_id_employee_number_mapping.sql
Due: none

remove dupe column in CTE
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

Updating nullif statements
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
Due: none

Remove extra line
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Remove ultimate parent account CTE
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Created google_ads.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/google_ads/google_ads.sql
Due: none

Remove duplicate industry
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

applied suggestion
  transform/snowflake-dbt/models/common/common.md
Due: none

Update audit on prep_crm_person back to original since no changes made
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

Add crm_account_sales_territory
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Remove Territory
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
Due: none

Update to != draft
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_arr_no_manual_adjustment_for_sfdc_reconciliation.sql
Due: none

Switch to using Ad_stats as base
  transform/snowflake-dbt/models/workspaces/workspace_marketing/google_ads/google_ads.sql
Due: none

Update google_ads.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/google_ads/google_ads.sql
Due: none

Moving record_type_name to dim instead of fct
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_opportunity.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
Due: none

fix variable err
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

black
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update audit section
  transform/snowflake-dbt/models/common/dimensions_shared/dim_subscription_snapshot_bottom_up.sql
Due: none

Change fct_crm_opp audit back to original date since no changes are made
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
Due: none

Update refs in opp marts to dim instead of fct
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
Due: none

Updating record_type_name
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
Due: none

last update
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_account_year.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_upa_year.sql
Due: none

Add license_sha256 column.
  transform/snowflake-dbt/models/common_prep/prep_license.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

update dim_behavior_browser fields
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_browser.sql
Due: none

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
