Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

‚ö´python_black:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úèÔ∏èpython_mypy:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.0
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.20
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: üìö dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.2
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Change engine factory.
  extract/test/test_saas_usage_ping_extract.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Change engine factory.
  orchestration/test/test_big_query_client.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Refactoring variables.
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
  extract/saas_usage_ping/usage_ping.py
  extract/saas_usage_ping/utils.py
  extract/test/test_saas_usage_ping_extract.py
  extract/test/test_transform_postgres_to_snowflake.py
  extract/test/test_utils.py
  orchestration/test/test_big_query_client.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update bizible touchpoint net arr values
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
Due: none

adding hist
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_hist.sql
Due: none

mod snapshot
  transform/snowflake-dbt/snapshots/common/dim_user_snapshot.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
Due: none

Update sheetload_ga360_custom_dimensions.sql
  transform/snowflake-dbt/models/sources/sheetload/sheetload_ga360_custom_dimensions_source.sql
Due: none

update source
  transform/snowflake-dbt/models/legacy/sheetload/sheetload_ga360_custom_dimensions.sql
Due: none

initial commit for dbt_snowplow_backfill_fct_behavior_model DAG
  dags/transformation/dbt_snowplow_backfill_fct_behavior_model.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

correct JSON parsing
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_merge_request_predictions_source.sql
Due: none

Update transform/snowflake-dbt/models/legacy/bamboohr/sensitive/bamboohr_headcount_intermediate.sql
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/bamboohr_headcount_intermediate.sql
Due: none

Update transform/snowflake-dbt/models/legacy/bamboohr/rpt/bamboohr_rpt_headcount_aggregation.sql
  transform/snowflake-dbt/models/legacy/bamboohr/rpt/bamboohr_rpt_headcount_aggregation.sql
Due: none

Update transform/snowflake-dbt/models/legacy/bamboohr/rpt/rpt_people_kpis.sql
  transform/snowflake-dbt/models/legacy/bamboohr/rpt/rpt_people_kpis.sql
Due: none

first iteration of doc updates
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common_mart_product/reports/reports.md
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
Due: none

remove change for subsequent MR
  transform/snowflake-dbt/models/common/common_columns.md
Due: none

booked_net_arr calculation in snapshot opp
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_edm_marts_new.sql
Due: none

Fix black errors
  dags/extract/external_gcp_billing.py
  dags/extract/mailgun_extract.py
  dags/extract/qualtrics_survey_extract.py
  dags/transformation/dbt_trusted_data.py
  extract/bizible/src/api.py
  extract/gitlab_data_yaml/upload.py
  extract/postgres_pipeline/postgres_pipeline/utils.py
  extract/rollup_table_clones/src/execute.py
  extract/rollup_table_clones/src/query_utils.py
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
  extract/saas_usage_ping/usage_ping.py
  extract/sheetload/google_sheets_client.py
  extract/sheetload/qualtrics_sheetload.py
  extract/sheetload/sheetload_dataframe_utils.py
  extract/zuora_query_api/src/api.py
  extract/zuora_revenue/load_zuora_revenue.py
  extract/zuora_revenue/src/api.py
  extract/zuora_revenue/src/extract_zuora_revenue.py
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Modify retries and checkout main instead of temp branch
  dags/data_science/ds_namespace_segmentation.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add missing objects and permissions
  permissions/snowflake/roles.yml
  transform/snowflake-dbt/models/marts/pumps_sensitive/pump_daily_data_science_scores.sql
  transform/snowflake-dbt/models/marts/pumps_sensitive/pumps_sensitive.md
Due: üìÅyaml_validation

add Dedicated - Ultimate to list of accepted_values
  transform/snowflake-dbt/models/legacy/zuora/xf/schema.yml
Due: none

Update group bys
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_delta_arr_parent_month_8th_calendar_day.sql
Due: none

Update group bys
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_delta_arr_parent_product_month_8th_calendar_day.sql
Due: none

Fix black errors on a new black version (22.3.0)
  dags/extract/external_gcp_billing.py
  dags/extract/mailgun_extract.py
  dags/extract/qualtrics_survey_extract.py
  dags/transformation/dbt_trusted_data.py
  extract/bizible/src/api.py
  extract/gitlab_data_yaml/upload.py
  extract/postgres_pipeline/postgres_pipeline/utils.py
  extract/rollup_table_clones/src/execute.py
  extract/rollup_table_clones/src/query_utils.py
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
  extract/saas_usage_ping/usage_ping.py
  extract/sheetload/google_sheets_client.py
  extract/sheetload/qualtrics_sheetload.py
  extract/sheetload/sheetload_dataframe_utils.py
  extract/zuora_query_api/src/api.py
  extract/zuora_revenue/load_zuora_revenue.py
  extract/zuora_revenue/src/api.py
  extract/zuora_revenue/src/extract_zuora_revenue.py
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Add demographics fields
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sfdc_account.sql
Due: none

Test google bigquery
  .gitlab-ci.yml
  extract/test/test_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove comma
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sfdc_account.sql
Due: none

Remove duplicate column
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sfdc_account.sql
Due: none

Remove duplicate
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sfdc_account.sql
Due: none

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
