Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

next round of columns
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/marts/usage_ping/usage_ping_mart_column_description.md
Due: none

remove extra column doc
  transform/snowflake-dbt/models/common/common_columns.md
Due: none

update prep_charge to have flag for manual charges
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_charge.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_arr_no_manual_adjustment_for_sfdc_reconciliation.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_manual_true_up_charge.sql
Due: none

fix extra columns
  transform/snowflake-dbt/models/common_mart/schema.yml
Due: none

create backup table
  extract/gitlab_deduplication/main.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Modify checkout command
  dags/airflow_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Modify checkout command to token based auth instead of ssh
  dags/airflow_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add license_file_sha256 column.
  transform/snowflake-dbt/models/legacy/snapshots/base/customers_db_licenses_snapshots_base.sql
Due: none

create backup table
  dags/extract/gitlab_data_deduplication.py
  extract/gitlab_deduplication/main.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Modify checkout command to use http
  dags/airflow_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Added license_file_sha256 column.
  transform/snowflake-dbt/models/sources/customers/customers_db_licenses_source.sql
Due: none

rename license_file_sha256 to license_sha256.
  transform/snowflake-dbt/models/legacy/snapshots/base/customers_db_licenses_snapshots_base.sql
Due: none

Renamed license_file_sha256 to license_sha256
  transform/snowflake-dbt/models/sources/customers/customers_db_licenses_source.sql
Due: none

Latest CI image.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add security/cli to the list of projects
  transform/snowflake-dbt/data/projects_part_of_product.csv
Due: none

Incorporate feedback
  transform/snowflake-dbt/models/common/common_columns.md
Due: none

Adding attribution weight
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/reports/rpt_sfdc_bizible_linear.sql
  transform/snowflake-dbt/models/common_mart_marketing/reports/rpt_sfdc_bizible_tp_person_lifecycle.sql
Due: none

Updating attribution calcls with weight
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
Due: none

Fix Syntax error in crm_person_prep
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

add target name
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Ready for Review
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_bottom_up.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_user_details_snapshots_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_users_snapshots_source.sql
Due: none

fix variable err
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Updating base model with weights
  transform/snowflake-dbt/models/sources/sfdc/sfdc_bizible_attribution_touchpoint_source.sql
Due: none

Updating column name
  transform/snowflake-dbt/models/sources/sfdc/sfdc_bizible_attribution_touchpoint_source.sql
Due: none

first iteration
  transform/snowflake-dbt/models/common_mart_product/reports/reports.md
  transform/snowflake-dbt/models/common_mart_product/reports/reports_columns.md
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
Due: none

update test to be based on created date
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_crm_touchpoint.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_touchpoint.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
  transform/snowflake-dbt/models/sources/sfdc/sfdc_bizible_attribution_touchpoint_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_bizible_touchpoint_source.sql
Due: none

move logic into dim_crm_person
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

Modify checkout command to use http
  dags/airflow_utils.py
  dags/data_science/ds_propensity_to_expand.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test first release of python
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Change module, variable.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages
