Repository fdileta/gitlab-dbt-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py
  üåΩpython_flake8: any of: **/*.py
  ‚úèÔ∏èpython_mypy: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

adds rwoo
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

removes rparker
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

adds restricted_safe to dcharukulvanich
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

adds restricted_safe to caitlin
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation

Add security/cli to the list of projects
  transform/snowflake-dbt/data/projects_part_of_product.csv
Due: none

removed strip command
  extract/sheetload/sheetload_dataframe_utils.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Additional fields for L2R models
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

additional fields to mart_crm_opportunity
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

Adding record_type_name
  transform/snowflake-dbt/macros/sfdc/sfdc_opportunity_fields.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_opportunity.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
Due: none

Updating join
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

Updating user fields
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

updating to user_role_name
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

Updating attribution calcls with weight
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
Due: none

Updating column name
  transform/snowflake-dbt/models/sources/sfdc/sfdc_bizible_attribution_touchpoint_source.sql
Due: none

Updating nullif statements
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
Due: none

Adding nullif for division by 0
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
Due: none

select from non-legacy view
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_experiment.sql
Due: none

fix variable err
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

added table to reconcile process
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_trusted_data_extract_load_db_manifest.yaml
Due: none

adding field
  transform/snowflake-dbt/models/common/bridge/bdg_metrics_redis_events.sql
Due: none

Created google_ads.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/google_ads/google_ads.sql
Due: none

update dim_behavior_operating_system fields
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_operating_system.sql
Due: none

alias fields
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_browser.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/prep_snowplow_unnested_events_all.sql
Due: none

black
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

formatting
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
Due: none

add single option
  dags/general/pumps.py
  pump/pumps.py
  pump/pumps.yml
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update transform/snowflake-dbt/models/legacy/gitlab_data_yaml/base/schema.yml
  transform/snowflake-dbt/models/legacy/gitlab_data_yaml/base/schema.yml
Due: none

adding tests
  transform/snowflake-dbt/models/sources/google_ads/schema.yml
Due: none

adding new table
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

python compliance
  dags/general/pumps.py
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update transform/snowflake-dbt/models/sources/gitlab_data_yaml/flaky_tests_source.sql, transform/snowflake-dbt/models/sources/gitlab_data_yaml/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_data_yaml/flaky_tests_source.sql
  transform/snowflake-dbt/models/sources/gitlab_data_yaml/schema.yml
Due: none

add single option
  pump/pumps.py
Due: ‚ö´python_black, üåΩpython_flake8, ‚úèÔ∏èpython_mypy, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

update fct_structured_event fields
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/prep_snowplow_unnested_events_all.sql
Due: none

remove unnecessary fields
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event.sql
Due: none

Finalized Incremental
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_bottom_up.sql
Due: none

update dim_behavior_website_page fields
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/dim_behavior_website_page.sql
Due: none

last update
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_account_year.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_upa_year.sql
Due: none
